$("#container_content").html("<%= j(render partial: 'new', locals: { static_page: @static_page }) %>");
document.title = "Sign up"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= new_user_registration_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}
$("#user_first_name").focus();
set_footer();
$('html').scrollTop(0);