<p>Contact Us</p>
<p>Name: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Contact Number: <%= @contact.contact_number %></p>
<p>Message: <%= @contact.message %></p>