<p>New <%= @project.facility_option %> Project Created</p>

<% if @project.facility_option == "Building" %>
	<table cellpadding="0" cellspacing="0" border="1" width="100%">
	  <tr>
	    <th>User Name</th>
	    <th>Project Name</th>
	    <th>Company</th>
	    <th>Facility Option</th>
	    <th>No. Of Buildings</th>
	    <th>Have Floorplans</th>
	    <th>No. Of Services</th>
	    <th>Highest Frequency Band</th>
	    <th>System Feed Method</th>
	    <th>System Architecture</th>
      <th>Technology Type</th>
      <th>Communication Type</th>
	  </tr>
	  <tr>
	    <td><%= @project.user_name %></td>
	    <td><%= @project.project_name %></td>
	    <td><%= @project.company %></td>
	    <td><%= @project.facility_option %></td>
	    <td><%= @project.building.number_of_buildings %></td>
	    <td><%= @project.building.have_floorplan %></td>
	    <td><%= @project.number_of_services %></td>
	    <td><%= @project.highest_frequency_band %></td>
	    <td><%= @project.system_feed_method %></td>
	    <td><%= @project.system_architecture %></td>
      <td><%= @project.technology_type %></td>
      <td><%= @project.communication_type %></td>
	  </tr>
	</table>
<% elsif @project.facility_option == "Tunnel" %>
	<table cellpadding="0" cellspacing="0" border="1" width="100%">
    <tr>
      <th>User Name</th>
      <th>Project Name</th>
      <th>Company</th>
      <th>Facility Option</th>
      <th>No. Of Tunnels</th>
      <th>Have Floorplans</th>
      <th>No. Of Services</th>
      <th>Highest Frequency Band</th>
      <th>System Feed Method</th>
      <th>System Architecture</th>
      <th>Technology Type</th>
      <th>Communication Type</th>
    </tr>
    <tr>
      <td><%= @project.user_name %></td>
      <td><%= @project.project_name %></td>
      <td><%= @project.company %></td>
      <td><%= @project.facility_option %></td>
      <td><%= @project.tunnel.number_of_tunnels %></td>
      <td><%= @project.tunnel.have_floorplan %></td>
      <td><%= @project.number_of_services %></td>
      <td><%= @project.highest_frequency_band %></td>
      <td><%= @project.system_feed_method %></td>
      <td><%= @project.system_architecture %></td>
      <td><%= @project.technology_type %></td>
      <td><%= @project.communication_type %></td>
    </tr>
  </table>
<% end %>