<p>Dear <%= @user.email %>,</p>
<% if @static_page.present? && @static_page.data_storage_reminder_email.present? %>
	<%= @static_page.data_storage_reminder_email.html_safe %>
<% else %>
	<p>This is a courtesy reminder regarding your Project Files currently stored on the system at iDASQuick. Please be advised that there is one (1) week remaining for you to secure these files by removing them from the iDASQuick site. After this time all files will be deleted.</p>
	<p>
		Best Regards,<br/>
		Admin, iDASQuick<br/>
		(Home of the RSDAQTM Engine)
	</p>
<% end %>