<% if @completed %>
  <% content_for(:title) do %>
    Projects
  <% end %>

  <div class="grayOuter">
    <div class="container">
      <div class="stepInnerContnt">
        <% if static_page.present? && static_page.tunnel_projects.present? %>
          <%= static_page.tunnel_projects.html_safe %>
        <% else %>
          <div class="clearfix tac boldHD quick_start_h1"> Tunnel Projects </div><br>
          <p class="dash_para">Below is a list of completed Tunnel-based projects. The files are available for download or may be kept here for short-term storage. <br>Be sure to verify your storage time allowance as corresponds to your subscription level.</p>
        <% end %>
        <ul class="nav nav-tabs tunel_tabs float-none" role="tablist">
          <li role="presentation">
            <%= link_to "Building", projects_path, remote: true, aria: {controls: "building"}, role: "tab", data: {toggle: "tab"} %>
          </li>
          <li role="presentation" class="active">
            <%= link_to "Tunnel", "javascript:;", aria: {controls: "tunnel"}, role: "tab", data: {toggle: "tab"} %>
          </li>
        </ul>
        <div class="clearfix"></div>
        <!--Start Table-->
        <div class="projectTableCon">
          <table class="table table-responsive break-all">
            <tr>
              <th>Sr. No.</th>
              <th width="50%">Projects</th>
              <th>Date</th>
              <th class="action">Action</th>
            </tr>
            <% projects.each.with_index(1) do |project, index| %>
              <tr>
                <td>
                  <% if page.present? && (page.to_i > 1) %>
                    <% if index == 10 %>
                      <%= page %>0
                    <% else %>
                      <%= page.to_i - 1 %><%= index %>
                    <% end %>
                  <% else %>
                    <%= index %>
                  <% end %>
                </td>
                <td><%= link_to project.project_name, report_tunnel_project_path(project, facility: project.facility_option), remote: true %></td>
                <td><%= project.created_at.strftime("#{project.created_at.day.ordinalize} %b, %Y") %></td>
                <td>
                  <%= link_to '', report_tunnel_project_path(project, facility: project.facility_option), remote: true, class: "glyphicon glyphicon-eye-open" %>
                  <%= link_to '', project_tunnel_destroy_show_path(project, page: page), remote: true, class: "glyphicon glyphicon-trash" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <!--End Table-->
        <div class="pagiCon">
          <%= js_will_paginate projects %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% content_for(:title) do %>
    Projects Pending
  <% end %>
  
  <div class="grayOuter">
    <div class="container">
      <div class="stepInnerContnt">
        <% if static_page.present? && static_page.tunnel_pending_projects.present? %>
          <%= static_page.tunnel_pending_projects.html_safe %>
        <% else %>
          <div class="clearfix tac boldHD quick_start_h1"> Tunnel Projects Pending </div><br>
          <p class="dash_para">The following is a list of Tunnel-based projects that are 'works-in-process'. <br>Any item in the list may be opened for further editing and eventual completion.</p>
        <% end %>
        <ul class="nav nav-tabs tunel_tabs float-none" role="tablist">
          <li role="presentation">
            <%= link_to "Building", projects_pending_path, remote: true, aria: {controls: "building"}, role: "tab", data: {toggle: "tab"} %>
          </li>
          <li role="presentation" class="active">
            <%= link_to "Tunnel", "javascript:;", aria: {controls: "tunnel"}, role: "tab", data: {toggle: "tab"} %>
          </li>
        </ul>
        <div class="clearfix"></div>
        <!--Start Table-->
        <div class="projectTableCon">
          <table class="table table-responsive break-all">
            <tr>
              <th>Sr. No.</th>
              <th width="50%">Projects</th>
              <th>Date</th>
              <th class="action">Action</th>
            </tr>
            <% projects.each.with_index(1) do |project, index| %>
              <tr>
                <td>
                  <% if page.present? && (page.to_i > 1) %>
                    <% if index == 10 %>
                      <%= page %>0
                    <% else %>
                      <%= page.to_i - 1 %><%= index %>
                    <% end %>
                  <% else %>
                    <%= index %>
                  <% end %>
                </td>
                <td><%= tunnel_name_project(project).html_safe %></td>
                <td><%= project.created_at.strftime("#{project.created_at.day.ordinalize} %b, %Y") %></td>
                <td>
                  <%= tunnel_edit_project(project).html_safe %>
                  <%= link_to '', project_tunnel_destroy_show_path(project, page: page), remote: true, class: "glyphicon glyphicon-trash" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <!--End Table-->
        <div class="pagiCon">
          <%= js_will_paginate projects %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Project Destroy Modal -->
<div class="modal fade" id="destroy_show" tabindex="-1" role="dialog" aria-labelledby="destroyShowLabel"></div>
