<% if @system_architecture.present? && @tunnels > 0 %>
	$("#architecture_select").html("<%= j(render partial: 'check_system_architecture', locals: { selected: @selected, system_architecture: @system_architecture, tunnels: @tunnels, total_tunnels: @total_tunnels }) %>");
	$("#architecture_select").modal("show");
<% end %>