<% if @saved %>
	<% if @project.facility_option == "Building" %>
		$("#container_content").html("<%= j(render partial: 'projects/building_form', locals: { project: @project, building: @building, facility: @facility, first: @first, static_page: @static_page }) %>");
		document.title = "Project Details"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= building_entry_path(@project, facility: @facility, first: @first) %>");
			$(window).bind("popstate", function() {
		    $.getScript(location.href);
		  });
		}
	<% elsif @project.facility_option == "Tunnel" %>
		$("#container_content").html("<%= j(render partial: 'tunnel_form', locals: { project: @project, tunnel: @tunnel, facility: @facility, first: @first, static_page: @static_page }) %>");
		document.title = "Project Details"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= tunnel_entry_path(@project, facility: @facility, first: @first) %>");
			$(window).bind("popstate", function() {
		    $.getScript(location.href);
		  });
		}
	<% end %>
<% else %>
	<% if @authorized %>
		$("#error_messages").html("<%= j(model_error_messages(@project)) %>");
	<% end %>
<% end %>

set_footer();
$('html').scrollTop(0);