$("#container_content").html("<%= j(render partial: 'disclaimer', locals: { project: @project, facility: @facility, static_page: @static_page }) %>");
document.title = "Disclaimer Acknowledgement"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= disclaimer_tunnel_project_path(@project, facility: @facility) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);