$("#container_content").html("<%= j(render partial: 'tunnel_type_form', locals: { project: @project, first: @first, facility: @facility, static_page: @static_page }) %>");
document.title = "Project Details"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= project_tunnel_type_path(@project, first: @first, facility: @facility) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);