<% if @saved %>
	// $("#tunnel_data_details").get(0).reset();
  $("#tunnel_data_entry_bore_number").html("<option value=''>Enter Data for this Tunnel Bore Number</option>");
  $("#tunnel_data_entry_segment_number").html("<option value=''>Enter Data for this Tunnel Segment Number</option>");
	$("#message").show();
	<% if((@tunnel_data_entry.segment_number == @tunnel_data_entry.number_of_segments) && (@tunnel_data_entry.bore_number == @tunnel_data_entry.number_of_bores) && (@tunnel_data_entry.tunnel_number == @tunnel.number_of_tunnels)) %>
		$("#return_message").html("Data successfully entered for all Tunnels. Please click on Close button.");
	<% else %>
		$("#return_message").html("Successfully entered data for: <b>Tunnel <%= @tunnel_data_entry.tunnel_number %> Bore <%= @tunnel_data_entry.bore_number %> Segment <%= @tunnel_data_entry.segment_number %></b>");
	<% end %>
<% else %>
	$("#tunnel_error_messages").html("<%= j(model_error_messages(@tunnel_data_entry)) %>");
	$("#message").hide();
	$("#return_message").html("");
<% end %>

set_footer();
