$("#timer_countdown_start").hide();
$("#timer_countdown_end").show();
$("#download_report").html("<%= j(render partial: 'show_download_report', locals: { project: @project, static_page: @static_page }) %>");
