$("#dataEntry").html("<%= j(render partial: 'tunnel_data_entry', locals: { project: @project, tunnel: @tunnel, tunnel_data_entry: @tunnel_data_entry, static_page: @static_page }) %>");
$("#dataEntry").modal({backdrop: 'static', keyboard: false});
setTimeout(function(){
	$("#tunnel_data_entry_tunnel_name").focus();
}, 1000);