<% if @saved %>
	$("#container_content").html("<%= j(render partial: 'tunnel_type_form', locals: { project: @project, first: @first, facility: @facility, static_page: @static_page }) %>");
	document.title = "Project Details"
	if (history && history.pushState) {
		history.pushState(null, document.title, "<%= project_tunnel_type_path(@project, first: @first, facility: @facility) %>");
		$(window).bind("popstate", function() {
	    $.getScript(location.href);
	  });
	}
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@project)) %>");
<% end %>

set_footer();
$('html').scrollTop(0);