<% if @saved %>
	<% if @first.present? %>
		$("#container_content").html("<%= j(render partial: 'users/quick_start_step3', locals: { project_id: @project.slug, first: @first, facility: @facility, static_page: @static_page }) %>");
		document.title = "Step3"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= quick_start_step3_path(project_id: @project.slug, first: @first, facility: @facility) %>");
			$(window).bind("popstate", function() {
		    $.getScript(location.href);
		  });
		}
	<% else %>
		$("#container_content").html("<%= j(render partial: 'disclaimer', locals: { project: @project, facility: @facility, static_page: @static_page }) %>");
		document.title = "Disclaimer Acknowledgement"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= disclaimer_tunnel_project_path(@project, facility: @facility) %>");
			$(window).bind("popstate", function(){
		    $.getScript(location.href);
		  });
		}
	<% end %>
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@project)) %>");
<% end %>

set_footer();
$('html').scrollTop(0);