<% content_for(:title) do %>
  Credits
<% end %>
<div class="creditsBox">
  <div class="container">
    <div class="creaditsItem">You have <%= current_user.credits %> credits.</div>
    <div class="buycreadits">
      <% if static_page.present? && static_page.buy_credits.present? %>
        <%= static_page.buy_credits.html_safe %>
      <% else %>
        <div class="clearfix tac boldHD my-acc-edit"> Buy Credits</div>
        <p class="dash_para m-plan">On this page you may purchase Usage Credits for running the RSDAQ™ Engine. Credits may be purchased in any of the bundled amounts shown. <br>Take advantage of bulk purchase discounted pricing and stock up while you can. <br>Prices may change, but the Usage Credits do not expire.<br></p>
        <div class="clearfix"></div>
      <% end %>
    </div>
    <% if static_page.present? && static_page.credits.present? %>
      <%= static_page.credits.html_safe %>
    <% else %>
      <div class="creaditBoxCon">
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597979231326/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox1 border-credits">
            <span>10</span>
            <strong>10 Credits</strong>
            <p>10 Credits For $12</p>
          </div>
        <% end %>
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597900231327/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox2 border-credits">
            <span>50</span>
            <strong>50 Credits</strong>
            <p>50 Credits For $54</p>
          </div>
        <% end %>
        <div class="clearfix mt20"></div>
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597973231132/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox1 border-credits">
            <span>100</span>
            <strong>100 Credits</strong>
            <p>100 Credits For $100</p>
          </div>
        <% end %>
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597902631133/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox2 border-credits">
            <span>200</span>
            <strong>200 Credits</strong>
            <p>200 Credits For $160</p>
          </div>
        <% end %>
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597914331134/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox3 border-credits">
            <span>500</span>
            <strong>500 Credits</strong>
            <p>500 Credits For $350</p>
          </div>
        <% end %>
        <%= link_to "javascript:;", data: {href: "https://cacique.zaxaa.com/o/12597986431136/1?test=1"}, class: "credit_box" do %>
          <div class="creaditBox creaditBox4 border-credits margin-t20">
            <span>1000</span>
            <strong>1000 Credits</strong>
            <p>1000 Credits For $497</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="grayOuter">
  <div class="container">
    <div class="stepInnerContnt">
      <% if static_page.present? && static_page.transaction_history.present? %>
        <%= static_page.transaction_history.html_safe %>
      <% else %>
        <div class="clearfix tac boldHD my-acc-edit"> transactions history  </div>
        <p class="dash_para m-plan">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <% end %>
      <!--Start Table-->
      <div class="projectTableCon subscriptions">
        <table class=" table table-responsive">
          <tr>
            <th>Sr. No.</th>
            <th width="25%">Plan</th>
            <th>Date</th>
            <th>Credits</th>
            <th>Status</th>
          </tr>
          <% subscriptions.each.with_index(1) do |subscription, index| %>
            <tr>
              <td>
                <% if page.present? && (page.to_i > 1) %>
                  <% if index == 10 %>
                    <%= page %>0
                  <% else %>
                    <%= page.to_i - 1 %><%= index %>
                  <% end %>
                <% else %>
                  <%= index %>
                <% end %>
              </td>
              <td><%= subscription.product_name %></td>
              <td><%= subscription.created_at.strftime("#{subscription.created_at.day.ordinalize} %b, %Y") %></td>
              <td><%= subscription.credits %></td>
              <td>Success</td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="pagiCon">
        <%= js_will_paginate subscriptions %>
      </div>
      <!--End Table-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".credit_box").click(function() {
      var url = $(this).data("href");
      if(url.search(/test\/$/) >= 1) {
        url += "&custom=<%= current_user.id %>";
      } else {
        url += "?custom=<%= current_user.id %>";
      }

      window.location = url;
    });
  });
</script>