<% content_for(:title) do %>
  Download
<% end %>

<% if static_page.present? && static_page.quick_start_download.present? %>
  <%= static_page.quick_start_download.html_safe %>
<% else %>
  <div class="grayOuter">
  	<div class="container">
  		<div class="stepInnerContnt">
  			<div class="clearfix tac boldHD"> Here is your report !</div>
  			<h1 class="grayMainGD">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is  <br>
  				simply dummy text of the printing and typesetting industry.</h1>
  			<p>This service is provided as-is, and is to be used at the subscriber’s discretion. The subscriber assumes all risk for using this service. XXXXX Inc. provides no guarantees or warranty of any kind, expressed or implied, with respect to any goods, parts  and service provided by XXXXX Inc. Including, but not limited to, the implied guarantees, warranties or merchantability and fitness for a particular purpose. XXXXX Inc. shall not in any event be liable for any damages including, but not limited to, any indirect, special or consequential damages arising out of or in connection with furnishing of goods, parts or service, or the performance, use of, or inability to use any goods, parts or service, or otherwise, whether based on contract, tort or any other legal theory.  

        In the course of using the output report from this service to respond to or satisfy the conditions of any RFP or other situations relating to the output report from this service, the subscriber agrees to indemnify and hold harmless XXXXX Inc., its officers, agents and employees from and against any liabilities, damages, costs, expenses, and attorneys' fees for any claim of loss, damage, cost, or injury  of whatsoever kind or nature, including bodily injury of death, relating to the use of this service.</p>

        <p>The pricing provided for quoted projects by XXXXX Inc in the output report from this service represents a best average market price as offered by preferred vendors, OEMs and equipment manufacturers. XXXXX Inc. reserves the right to further offer, promote and/or make suggestions to the subscriber to opt-into participating in external granular, accurate and competitive pricing offers from preferred vendors, OEMs and equipment manufacturers for the subscriber’s quoted projects, at the subscriber’s discretion. The subscriber acknowledges and agrees to these terms and conditions of pricing by registering an account with XXXXX Inc.</p>
  		</div>
  	</div>
  </div>
  <div class="Disclaimer whiteBkg">
  	<div class="container">
  		<div class="max960width">
  			<div class="clearfix tac boldHD"> Notice</div>
  			<p>The downloadable file below is providing for your use only, as a subscriber to this site and the service offered item herein. Sharing of this file is strictly prohibited according to the terms of your subscription agreement.</p>
  		</div>
  	</div>
  </div>
  <div class="stepOuterNext stepOuterLast">
  	<div class="container">
  		 Your download should start automatically after countdown. If not,click on the download button.
  		<div class="nextBtn mt20">
  			<div class="countdown styled"></div>
  		</div>
  	</div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    var endDate = '<%= (Time.now + 20.seconds).strftime("%B %d, %Y %H:%M:%S") %>';
    $('.countdown.styled').countdown({
      date: endDate,
      render: function(data) {
				$(this.el).html("<div class='year'>" + this.leadingZeros(data.days, 4) + " <span></span></div><div class='dateHours'>" + this.leadingZeros(data.hours, 2) + " <span></span></div> :<div class='dateMin'>" + this.leadingZeros(data.min, 2) + " <span></span></div> :<div class='dateSec'>" + this.leadingZeros(data.sec, 2) + " <span></span></div>");
      }
    });

    $('.countdown.callback').countdown({
      date: +(new Date) + 10000,
      render: function(data) {
        $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
      },
      onEnd: function() {
        $(this.el).addClass('ended');
      }
    }).on("click", function() {
      $(this).removeClass('ended').data('countdown').update(+(new Date) + 10000).start();
    });

    // End time for diff purposes
    var endTimeDiff = new Date().getTime() + 15000;
    // This is server's time
    var timeThere = new Date();
    // This is client's time (delayed)
    var timeHere = new Date(timeThere.getTime() - 5434);
    // Get the difference between client time and server time
    var diff_ms = timeHere.getTime() - timeThere.getTime();
    // Get the rounded difference in seconds
    var diff_s = diff_ms / 1000 | 0;
    
    var notice = [];
    notice.push('Server time: ' + timeThere.toDateString() + ' ' + timeThere.toTimeString());
    notice.push('Your time: ' + timeHere.toDateString() + ' ' + timeHere.toTimeString());
    notice.push('Time difference: ' + diff_s + ' seconds (' + diff_ms + ' milliseconds to be precise). Your time is a bit behind.');
    
    $('.offset-notice').html(notice.join('<br />'));
    
    $('.offset-server .countdown').countdown({
      date: endTimeDiff,
      offset: diff_s * 1000,
      onEnd: function() {
        $(this.el).addClass('ended');
      }
    });
    
    $('.offset-client .countdown').countdown({
      date: endTimeDiff,
      onEnd: function() {
        $(this.el).addClass('ended');
      }
    });
  });
</script>