<% content_for(:title) do %>
  Retrieve Password
<% end %>

<div class="clearfix sliderOuter">  
  <div class="">
    <div class="container"> 
      <div class="row">
        <%= render partial: 'shared/slider_inner', locals: { static_page: static_page } %>
        <div class="col-sm-5">
          <div class="formOuter login">
            <%= static_page.heading_retrieve_forgotten_password.try(:html_safe) %>
            <div class="row">
              <%= form_for(@user, url: retrieve_forgotten_password_path, html: { method: :post, id: "retrieve_forgotten_password" }) do |f| %>
                <div class="col-sm-12"><%= flash_messages %></div>
                <div class="col-sm-12">
                  <%= f.text_field :login, autofocus: true, placeholder: "User Name / Email Id", class: "form-control inputText mb5" %>
                </div>
                <div class="col-sm-12 mt5">
                  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
                </div>
                <div class="col-sm-12">
                  <%= link_to "Login", new_user_session_path, remote: true, class: "font-weight-600" %><br />
									<%= link_to "Sign up", new_user_registration_path, remote: true, class: "font-weight-600" %><br />
									<%= link_to "Forgot your password?", new_user_password_path, remote: true, class: "font-weight-600" %><br />
									<%= static_page.support_link.try(:html_safe) %><br />
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#retrieve_forgotten_password").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[login]": {
          required: true,
          noSpace: true,
          maxlength: 255
        }
      },
      messages: {
        "user[login]": {
          required: "Please enter your User Name or Email Id.",
          noSpace: "Please enter valid User Name or Email Id."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
