<% content_for(:title) do %>
  Welcome
<% end %>

<% if static_page.present? && static_page.welcome_page.present? %>
  <%= static_page.welcome_page.html_safe %>
<% else %>
	<div class="grayOuter padding40">
		<div class="container">
			<div class="stepInnerContnt padding40">
				<div class="clearfix tac boldHD my-acc-edit"> Welcome !</div>
				<p class="dash_para m-plan">Welcome to iDAS Quick, home of the RSDAQ™ Engine, and thank you for joining us as a new subscriber! On this page we have summarized for you the critical information needed to navigate around the site and make full use of all the resources at your disposal.<br>
					<span>Please take a few minutes now to view the video below.</span>
				</p>
	      <iframe class="videoWelcome" width="580" height="320" src="https://www.youtube.com/embed/6v2L2UGZJAM" allowfullscreen></iframe> 
			</div>
		</div>
	</div>
	<div class="whiteBkg padding40">
		<div class="container">
			<div class="stepInnerContnt ">
	  		<h2 class="clearfix tac boldHD my-acc"> How to find what you need</h2>
	      <p class="dash_para m-plan">The main resources available to you can be accessed from the Dashboard which serves as your 'Home' base.<br/>Help and Support are also directly accessible from this page. Click the button below.</p>  
	      <div class="grayBoxOuter">
	  			<div class="grayBox">
	          <span class="font22 color-lgreen"> Dashboard</span>
	          From your Dashboard, Access many resources and areas of activity, including Projects and Project Start, Your Account details, and more...
	          <%= link_to "Dashboard", root_path, remote: true, class: "btn_start" %>
	      	</div>
	  			<div class="grayBox">
	          <span class="font22 color-lgreen"> Subscribe</span>
	          From your Dashboard, Access many resources and areas of activity, including Projects and Project Start, Your Account details, and more...
	          <%= link_to "Subscribe", pricing_path, remote: true, class: "btn_start" %>
	      	</div>
	      	<div class="grayBox">
		        <span class="font22 color-lgreen"> Help/Support</span>
		        In-Depth Help and Support are provided at our Help Desk, accessible by clicking the button below.<br/><br/>
		        <%= link_to "Help/Support", "https://idasquick.freshdesk.com", target: "_blank", class: "btn_start" %>
	      	</div>
	      </div>
			</div>
	  </div>
	</div>
<% end %>
