$("#container_content").html("<%= j(render partial: 'dashboard', locals: { static_page: @static_page, credits: @credits, expired: @expired }) %>");
document.title = "Dashboard"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= root_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);
