$("#container_content").html("<%= j(render partial: 'quick_start', locals: { first: @first, static_page: @static_page }) %>");
document.title = "Quick Start"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= quick_start_path(first: @first) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);