$("#container_content").html("<%= j(render partial: 'retrieve_password', locals: { static_page: @static_page }) %>");
document.title = "Retrieve Password"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= retrieve_password_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$("#user_login").focus();
set_footer();
$('html').scrollTop(0);