<% content_for(:title) do %>
  Change Your Password
<% end %>

<!-- Slider Outer -->
<div class="clearfix sliderOuter">  
  <div class="">
    <div class="container"> 
      <div class="row">
        <%= render partial: 'shared/slider_inner', locals: { static_page: static_page } %>
        <div class="col-sm-5">
          <div class="formOuter login">
            <%= static_page.heading_change_your_password.try(:html_safe) %>
            <div class="row">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: "forgot_password_edit" }) do |f| %>
                <div class="col-sm-12"><%= devise_error_messages! %></div>
                <%= f.hidden_field :reset_password_token %>
                <div class="col-sm-12">
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, class: "form-control inputText mb5", placeholder: "New Password", id: "new_password" %>
                </div>
                <div class="col-sm-12">
                  <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: "form-control inputText mb5 mt15", placeholder: "Confirm new password" %>
                </div>
                <div class="col-sm-12">
                  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
                </div>
                <div class="col-sm-12">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<!--  Slider Outer End-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#forgot_password_edit").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#new_password"
        }
      },
      messages: {
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum 8 characters.",
          maxlength: "Your Password must be of maximum 255 characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum 8 characters.",
          maxlength: "Your Confirm Password must be of maximum 255 characters.",
          equalTo: "Your Confirm Password must be equal to Password."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
