<% content_for(:title) do %>
  Forgot Your Password
<% end %>

<!-- Slider Outer -->
<div class="clearfix sliderOuter">  
  <div class="">
    <div class="container"> 
      <div class="row">
        <%= render partial: 'shared/slider_inner', locals: { static_page: static_page } %>
        <div class="col-sm-5">
          <div class="formOuter login">
            <%= static_page.heading_forgot_your_password.try(:html_safe) %>
            <div class="row">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgot_password_new" }) do |f| %>
                <div class="col-sm-12"><%= devise_error_messages! %></div>
                <div class="col-sm-12">
                  <%= f.text_field :login, autofocus: true, required: true, placeholder: "User Name / Email Id", class: "form-control inputText mb5" %>
                </div>
                <div class="col-sm-12 mt5">
                  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
                </div>
                <div class="col-sm-12">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<!--  Slider Outer End-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#forgot_password_new").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[login]": {
          required: true,
          noSpace: true,
          maxlength: 255
        }
      },
      messages: {
        "user[login]": {
          required: "Please enter your User Name or Email Id.",
          noSpace: "Please enter valid User Name or Email Id."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
