$("#container_content").html("<%= j(render partial: 'edit', locals: { static_page: @static_page }) %>");
document.title = "Change Your Password"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= edit_user_password_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}
$("#user_login").focus();
set_footer();
$('html').scrollTop(0);