<% if static_page.present? && static_page.footer.present? %>
  <%= static_page.footer.html_safe %>
<% else %>
	<div class="clearfix"></div>
	<footer class="clearfix">
		<div class="container">
			<span>
				<%= link_to t('links.home'), root_path, remote: true %>
				<%= link_to t('links.about_us'), about_us_path, remote: true %>
				<%= link_to t('links.terms_of_use'), terms_and_conditions_path, remote: true %>
				<%= link_to t('links.privacy_policy'), privacy_policy_path, remote: true %>
				<%= link_to t('links.faq'), faq_path, remote: true %>
				<%= link_to t('links.contact_us'), contact_us_path, remote: true %>
			</span>
			<div class="copy"> <%= t('links.copyright', year: Time.now.year) %> </div>
		</div>
	</footer>

	<div class="ajax-loading">
	  <span>
	    <p id="please_wait"><strong>Please wait..</strong></p>
	    <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></i></p>
	  </span>
	</div>
<% end %>

<% unless user_signed_in? %>
	<!-- Login Modal -->
	<div class="modal fade login" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	   			<div class="formOuter">
						<%= static_page.heading_login_details.try(:html_safe) %>
						<div class="row">
							<%= form_for(@new_user, url: user_session_path, html: {id: "login_popup"}) do |f| %>
								<div class="col-sm-12">
									<%= f.text_field :login, autofocus: true, required: true, placeholder: "User Name / Email Id", class: "form-control inputText mb5" %>
								</div>
								<div class="col-sm-12">
									<%= f.password_field :password, required: true, placeholder: "Password", class: "form-control inputText mb5 mt15" %>
								</div>
								<div class="col-sm-5 plz">
								  <label> <%= f.check_box :remember_me %> Remember me </label>
								</div>
								<div class="col-sm-7 prz">
								  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
								</div>
							<% end %>
						</div>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Login Modal End -->
<% end %>

<!-- 
<div>
	<span><%#= link_to t('links.about_us'), about_us_path, remote: true %></span>
	<span><%#= link_to t('links.terms_and_conditions'), terms_and_conditions_path, remote: true %></span>
	<span><%#= link_to t('links.privacy_policy'), privacy_policy_path, remote: true %></span>
	<span><%#= t('links.all_rights_reserved', year: Time.now.year) %></span>
</div>
 -->