<% content_for(:title) do %>
 Help Support
<% end %>

<!--Start Frequently Asked Questions container-->
<% if static_page.present? && static_page.faq.present? %>
  <%= static_page.faq.html_safe %>
<% else %>
  <div class="innermainCon2 innermainCon3">
    <div class="banrHd">
      <h1 class="quick_start_h1">frequently asked questions</h1>
    </div>
    <div class="faqCon">
      <div class="container">
        <div class="heading">General Questions</div>
        <ul>
          <li>
          	<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
            <p id="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
          <li>
          	<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing industry ?</strong>
            <p id="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
          <li>
          	<strong>Lorem Ipsum is simply dummy text ?</strong>
            <p id="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
          <li>
          	<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
            <p id="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
          <li>
          	<strong>Lorem Ipsum is simply dummy text ?</strong>
            <p id="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
          <li>
          	<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
            <p id="6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem. </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="faqCon faqCon2">
     	<div class="container">
  	    <div class="heading">General Questions</div>
  	    <ul>
          <li>
          	<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
  		      <p id="7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		 		</li>
  		 		<li>
  		 			<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing industry ?</strong>
  		      <p id="8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		  	</li>
  		 		<li>
  		 			<strong>Lorem Ipsum is simply dummy text ?</strong>
  		      <p id="9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		 		</li>
  		 		<li>
  		 			<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
  		      <p id="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		 		</li>
  		 		<li>
  		 			<strong>Lorem Ipsum is simply dummy text ?</strong>
  		      <p id="11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		 		</li>
  		 		<li>
  		 			<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry ?</strong>
  		      <p id="12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.Nec viverra felis finibus id. Nullam sapien elit, aliquam ut enim et, semper rutrum lorem. Vivamus suscipit congue tellus ut condimentum. Nulla a venenatis diam, ac porta felis. Donec mi est, facilisis nec massa eget, volutpat pretium dolor.
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec fringilla purus. Sed non tortor dolor. Fusce in sapien nec nisl finibus lobortis non ut sem. Donec consectetur, risus non tincidunt interdum, elit sapien porta arcu, vel tincidunt magna lorem quis augue. Aliquam consectetur gravida lobortis. In et imperdiet lectus, nec ullamcorper elit. Integer elementum vulputate lorem.</p>
  		 		</li>
  	   	</ul>
  		</div>
  	</div>
  </div>
<% end %>
<!--End Frequently Asked Questions container-->

<script>
  <% if params[:id].present? %>
    $("#<%= params[:id] %>").show();
    $("#<%= params[:id] %>").prev().addClass("opens");
    $('html, body').animate({
      scrollTop: $("#<%= params[:id] %>").offset().top - 100
    }, 100);
  <% else %>
    $("#1").show();
    $("#1").prev().addClass("opens");
  <% end %>
</script>
