<% content_for(:title) do %>
  Privacy Policy
<% end %>

<!--Start Privacy policy container-->
<% if static_page.present? && static_page.privacy_policy.present? %>
  <%= static_page.privacy_policy.html_safe %>
<% else %>
  <div class="innermainCon2">
    <div class="banrHd">
      <h1 align="left" class="quick_start_h1">Privacy Policy</h1>
    </div>
  	<div class="privacyCon">
  		<p align="left">This Privacy Policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our Privacy Policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

  	  <h2 align="left">1. What personal information do we collect from visitors to our website?</h2>
      <p align="left">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, Company Name or other details to help you with your experience.</p>

      <h2 align="left">2. Do we use 'cookies'?</h2>
      <p align="left">Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
      <p align="left">We use cookies to:<br>
        ■  Help remember and process the items in the shopping cart.<br>
        ■  Understand and save user's preferences for future visits.<br>
        ■  Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.
      </p>
      <p align="left">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>
      <p align="left">If you disable cookies off, some features will be disabled. It won't affect the users experience that make your site experience more efficient and some of our services will not function properly.
      However, you can still place orders.</p>

      <h2 align="left">3. How we use the Information we gather</h2>
      <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus gravida, fringilla nunc id, cursus orci. Nulla efficitur ut tortor ac dapibus. Phasellus dignissim elementum diam eget tempor. Donec massa eros, tristique sit amet varius sit amet, placerat vel mi. Curabitur tincidunt, tortor eget feugiat malesuada, elit nibh venenatis lacus, et tristique dolor lacus ut sapien. Morbi pharetra sodales lectus ac scelerisque. Nam sit amet quam in turpis efficitur ullamcorper. Sed tristique lorem lacus, rhoncus cursus nisl tempus vel.</p>
      <p align="left">Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum. </p>
      <p align="left">Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum. </p>

      <h2 align="left">4. Accessing, Reviewing and Changing your Personal Information</h2>
      <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus gravida, fringilla nunc id, cursus orci. Nulla efficitur ut tortor ac dapibus. Phasellus dignissim elementum diam eget tempor. Donec massa eros, tristique sit amet varius sit amet, placerat vel mi. Curabitur tincidunt, tortor eget feugiat malesuada, elit nibh venenatis lacus, et tristique dolor lacus ut sapien. Morbi pharetra sodales lectus ac scelerisque. Nam sit amet quam in turpis efficitur ullamcorper. Sed tristique lorem lacus, rhoncus cursus nisl tempus vel.</p>
      <p align="left">Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum. </p>
      <p align="left">Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum. </p>
  	</div>
  </div>
<% end %>
<!--End Privacy policy container-->