<% content_for(:title) do %>
  Pricing
<% end %>

<div class="grayOuter">
	<div class="container">
		<div class="stepInnerContnt">
			<% if static_page.pricing.present? %>
				<%= static_page.pricing.try(:html_safe) %>
			<% else %>
				<div class="clearfix tac boldHD my-acc-edit"> Choose Your Plan</div>
				<p class="mt20">
					Great decision! You are probably here because you're seriously thinking of Upgrading your subscription, right? Well, here are a few tips to help you make the best possible decision. Note that there are two independent options available - Building and Tunnel. You may choose from either, or both, with a few limitations.  For example you could choose the Basic (Building Only) plan alone, or the Basic (Building Only) plan along with the Basic (Tunnel Only) plan, or vice versa. You could also choose the Basic (Building Only) plan along with the Standard (Tunnel Only) plan.<br>
					<br>
					Note that 'Downgrades' are not possible, except at anniversary dates on Annual Payment plans. So, in such a case, one possible scenario might be a change from Standard (Building Only) to Basic (Building Only).
				</p>
			<% end %>

			<% if static_page.building_pricing.present? %>
				<%= static_page.building_pricing.try(:html_safe) %>
			<% else %>
				<div class="planOuter">
				  <table class="planTable">
				    <tr class="planRow">
				      <th></th>
				      <th class="greenColor"><b>Basic</b><br/><div class="fs18">(Building Only)</div></th>
				      <th class="blueColor"><b>Standard</b><br/><div class="fs18">(Building Only)</div></th>
				      <th class="orangeColor"><b>Professional</b><br/><div class="fs18">(Building Only)</div></th>
				    </tr>
				    <tr class="priceRow">
				      <td>
				        <div class="bold"> Subscription (billed on signup as Annual payment) </div>
				      </td>
				      <td> $ <span class="price">197<span class="month">/month</span> </span></td>
				      <td> $ <span class="price">297<span class="month">/month</span></span></td>
				      <td> $ <span class="price">397<span class="month">/month</span></span></td>
				    </tr>
				    <tr class="monthPriceRow">
				      <td>
				        <div class="bold"> Subscription (billed on signup as Monthly payment) </div>
				      </td>
				      <td> $ <span class="price">197<span class="month">/month</span> </span></td>
				      <td> $ <span class="price">297<span class="month">/month</span></span></td>
				      <td> $ <span class="price">397<span class="month">/month</span></span></td>
				    </tr>
				  </table>
				  <table class="planDetails" cellspacing="5" cellpadding="5">
				    <tr>
				      <td>Ideal for</td>
				      <td>Occasional/Casual Use</td>
				      <td>Everyday Quotation Use</td>
				      <td>Enterprise Quotation Use</td>
				    </tr>
				    <tr>
				      <td>Max Number of (Simultaneous) Quotes per instance</td>
				      <td>10</td>
				      <td>10</td>
				      <td>100</td>
				    </tr>
				    <tr>
				      <td>Easy, Drag‐and‐Drop Floor Plan Tool</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Usage Credit</td>
				      <td>25 Free Credits, One‐time</td>
				      <td>50 Free Per Mth.</td>
				      <td>100 Free per Mth.</td>
				    </tr>
				    <tr>
				      <td>8/7 Email Support</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>8/5 Phone Support</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Real-time Chat Support</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Long term Quote Data Storage</td>
				      <td>3 Mths.</td>
				      <td>6 Mths.</td>
				      <td>12 Mths.</td>
				    </tr>
				    <tr>
				      <td> Add your Company Logo</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Download design report as XLS or PDF</td>
				      <td>PDF Only</td>
				      <td>PDF Only</td>
				      <td>XLS and PDF</td>
				    </tr>
				    <tr>
				      <td>Upload Floorplans</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>B2B Portal Access</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Membership Site and Forum Access</td>
				      <td>Basic Members Area Only</td>
				      <td>Standard Members Area Only</td>
				      <td>Full Members Areas Access</td>
				    </tr>
				    <tr>
				      <td>DAS Installation Layout Feature</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Report Output Details</td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/cross.png" alt=""> <br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/cross.png" alt=""></div></td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/tic.png" alt=""><br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/cross.png" alt=""></div></td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/tic.png" alt=""><br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/tic.png" alt=""></div></td>
				    </tr>
				    <tr>
				      <td>Pricing Comparisons</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
						<!---
				    <tr>
				      <td>Potential Supplier List and Contact Info.</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
						-->
				    <tr>
				      <td>XLS file upload for Batch Processing</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Online Help Documentation</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Spare Parts Quote: BOM, Qty and Material Description</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				  </table>
				</div>
			<% end %>

			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= building_yearly_plans(current_user.building_plan, static_page).html_safe %>
				</tr>
			</table>
			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= building_monthly_plans(current_user.building_plan, static_page).html_safe %>
				</tr>
			</table>

			<% if static_page.tunnel_pricing.present? %>
				<%= static_page.tunnel_pricing.try(:html_safe) %>
			<% else %>
				<div class="planOuter">
				  <table class="planTable">
				    <tr class="planRow">
				      <th></th>
				      <th class="greenColor"><b>Basic</b><br/><div class="fs18">(Tunnel Only)</div></th>
				      <th class="blueColor"><b>Standard</b><br/><div class="fs18">(Tunnel Only)</div></th>
				      <th class="orangeColor"><b>Professional</b><br/><div class="fs18">(Tunnel Only)</div></th>
				    </tr>
				    <tr class="priceRow">
				      <td>
				        <div class="bold"> Subscription (billed on signup as Annual payment) </div>
				      </td>
				      <td> $ <span class="price">197<span class="month">/month</span> </span></td>
				      <td> $ <span class="price">297<span class="month">/month</span></span></td>
				      <td> $ <span class="price">397<span class="month">/month</span></span></td>
				    </tr>
				    <tr class="monthPriceRow">
				      <td>
				        <div class="bold"> Subscription (billed on signup as Monthly payment) </div>
				      </td>
				      <td> $ <span class="price">197<span class="month">/month</span> </span></td>
				      <td> $ <span class="price">297<span class="month">/month</span></span></td>
				      <td> $ <span class="price">397<span class="month">/month</span></span></td>
				    </tr>
				  </table>
				  <table class="planDetails" cellspacing="5" cellpadding="5">
				    <tr>
				      <td>Ideal for</td>
				      <td>Occasional/Casual Use</td>
				      <td>Everyday Quotation Use</td>
				      <td>Enterprise Quotation Use</td>
				    </tr>
				    <tr>
				      <td>Max Number of (Simultaneous) Quotes per instance</td>
				      <td>10</td>
				      <td>10</td>
				      <td>100</td>
				    </tr>
				    <tr>
				      <td>Easy, Drag‐and‐Drop Floor Plan Tool</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Usage Credit</td>
				      <td>25 Free Credits, One‐time</td>
				      <td>50 Free Per Mth.</td>
				      <td>100 Free per Mth.</td>
				    </tr>
				    <tr>
				      <td>8/7 Email Support</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>8/5 Phone Support</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Real-time Chat Support</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Long term Quote Data Storage</td>
				      <td>3 Mths.</td>
				      <td>6 Mths.</td>
				      <td>12 Mths.</td>
				    </tr>
				    <tr>
				      <td> Add your Company Logo</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Download design report as XLS or PDF</td>
				      <td>PDF Only</td>
				      <td>PDF Only</td>
				      <td>XLS and PDF</td>
				    </tr>
				    <tr>
				      <td>Upload Floorplans</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>B2B Portal Access</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Membership Site and Forum Access</td>
				      <td>Basic Members Area Only</td>
				      <td>Standard Members Area Only</td>
				      <td>Full Members Areas Access</td>
				    </tr>
				    <tr>
				      <td>DAS Installation Layout Feature</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
						<td>Report Output Details</td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/cross.png" alt=""> <br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/cross.png" alt=""></div></td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/tic.png" alt=""><br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/cross.png" alt=""></div></td>
				      <td><div  align="left">■ Line Item Description  <img src="/assets/tic.png" alt=""><br>■ Total Pricing per Report  <img src="/assets/tic.png" alt=""><br>■ Line-item Pricing  <img src="/assets/tic.png" alt=""><br>■ Material Qty  <img src="/assets/tic.png" alt=""><br>■ Part Numbers  <img src="/assets/tic.png" alt=""></div></td>
				    </tr>
				    <tr>
				      <td>Pricing Comparisons</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
						<!---
				    <tr>
				      <td>Potential Supplier List and Contact Info.</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
						-->
				    <tr>
				      <td>XLS file upload for Batch Processing</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Online Help Documentation</td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				    <tr>
				      <td>Spare Parts Quote: BOM, Qty and Material Description</td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/cross.png" alt=""></td>
				      <td><img src="/assets/tic.png" alt=""></td>
				    </tr>
				  </table>
				</div>
			<% end %>

			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= tunnel_yearly_plans(current_user.tunnel_plan, static_page).html_safe %>
				</tr>
			</table>
			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= tunnel_monthly_plans(current_user.tunnel_plan, static_page).html_safe %>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    $(".subscribe").click(function() {
      var url = $(this).data("href");
     if(url.search(/test\/$/) >= 1) {
      	url += "&custom=<%= current_user.id %>";
      } else {
      	url += "?custom=<%= current_user.id %>";
      }
      window.location = url;
    });
  });
</script>