<% content_for(:title) do %>
  Terms of Use
<% end %>

<!--Start Terms and Conditions container-->
<% if static_page.present? && static_page.terms_and_conditions.present? %>
  <%= static_page.terms_and_conditions.html_safe %>
<% else %>
  <div class="innermainCon2">
    <div class="banrHd banrTerms">
      <h1 align="left" class="quick_start_h1">Terms and Conditions</h1>
      <strong>The following is a listing of the terms and conditions that govern the use of this service and this website.</strong>
    </div>
    <div class="privacyCon">
      <h2 align="left">1. Terms of Use</h2>
      <p align="left">By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.</p>

      <h3 align="left">2. Intellectual Property Rights<h3>
      <p align="left">All copyrights, trademarks, patents and other intellectual property rights in and on our website and all content and software located on the site shall remain the sole property of our company or its licensors. The use of our trademarks, content and intellectual property is forbidden without the express written consent from the owner of this website.</p>
      <p style="text-align:left">You must not:<br>
        ■ Republish material from our website without prior written consent<br>
        ■ Sell or rent material from our website<br>
        ■ Reproduce, duplicate, create derivative, copy or otherwise exploit material on our website for any purpose<br>
        ■ Redistribute any content from our website, including onto another website
      </p>

      <h3 align="left">3. Acceptable Use<h3>
      <p align="left">You agree to use our website only for lawful purposes, and in a way that does not infringe the rights of, restrict or inhibit anyone else’s use and enjoyment of the website. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content or disrupting the normal flow of dialogue within our website.You must not use our website to send unsolicited commercial communications.You must not use the content on our website for any marketing related purpose without our express written consent.</p>

      <h3 align="left">4. Restricted Access<h3>
      <p align="left">We may in the future need to restrict access to parts (or all) of our website and reserve full rights to do so. If, at any point, we provide you with a username and password for you to access restricted areas of our website, you must ensure that both your username and password are kept confidential.</p>

      <h3 align="left">5. Revisions<h3>
      <p align="left">The owner of this website may change these terms from time to time and so you should check these terms regularly. Your continued use of our website will be deemed acceptance of the updated or amended terms. If you do not agree to the changes, you should cease using our website immediately. If any of these terms are determined to be illegal, invalid or otherwise unenforceable, it shall be severed and deleted from these terms and the remaining terms shall survive and continue to be binding and enforceable.</p>
    
      <h3 align="left">6. Limitation of Liability<h3>
      <p align="left">THE MATERIALS AT THIS SITE ARE PROVIDED “AS IS” WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT OF INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR PURPOSE. IN NO EVENT SHALL THE OWNER OF THIS WEBSITE OR ITS AGENTS OR OFFICERS BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION, INJURY OR DEATH) ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIALS, EVEN IF THE OWNER OF THIS WEBSITE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES.</p>

      <h2 align="left">7. Pricing and Marketing Terms and Conditions</h2>
      <p align="left">The pricing provided for quoted projects by XXXXX Inc in the output report from this service represents a best average market price as offered by preferred vendors, OEMs and equipment manufacturers. XXXXX Inc. reserves the right to further offer, promote and/or make suggestions to the subscriber to opt-into participating in external granular, accurate and competitive pricing offers from preferred vendors, OEMs and equipment manufacturers for the subscriber’s quoted projects, at the subscriber’s discretion. The subscriber acknowledges and agrees to these terms and conditions of pricing by registering an account with XXXXX Inc.</p>

      <h2 align="left">8. Registering with You</h2>
      <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus gravida, fringilla nunc id, cursus orci. Nulla efficitur ut tortor ac dapibus. Phasellus dignissim elementum diam eget tempor. Donec massa eros, tristique sit amet varius sit amet, placerat vel mi. Curabitur tincidunt, tortor eget feugiat malesuada, elit nibh venenatis lacus, et tristique dolor lacus ut sapien. Morbi pharetra sodales lectus ac scelerisque. Nam sit amet quam in turpis efficitur ullamcorper. Sed tristique lorem lacus, rhoncus cursus nisl tempus vel.</p>

      <h2 align="left">9. Services Not Intended For Children</h2>
      <p align="left">This website does not provide services or sell products to children under the age of 18.If we discover we have received any information from a child under the age of 18 in violation of this policy, we will delete that information immediately. If you believe we have received any information from or about anyone under the age of 18, please contact us at the address listed below.</p>
    </div>
  </div>
<% end %>
<!--End Terms and Conditions container-->