$("#container_content").html("<%= j(render partial: 'contact_us', locals: { contact: @contact, static_page: @static_page }) %>");
document.title = "Contact Us"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= contact_us_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);