$("#container_content").html("<%= j(render partial: 'pricing', locals: { static_page: @static_page }) %>");
document.title = "Pricing"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= pricing_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);