<% content_for(:title) do %>
  Project Details
<% end %>

<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="col-sm-3">
          <%= render partial: 'shared/left_image', locals: { static_page: static_page } %>
        </div>
        <div class="col-sm-6">
          <%= form_for(project, url: update_building_type_project_path(project), method: :post, remote: true, html: {id: "building_type_details"}) do |f| %>
            <%= hidden_field_tag :first, first %>
            <%= hidden_field_tag :facility, facility %>
            <div class="col-sm-12" id="error_messages"><%= model_error_messages(project) %></div>
            <div class="mt40 buildingQuoteB">
              <div class="b_data pb20">
                <%= static_page.technology_type.try(:html_safe) %>
                <div class="building_bx">
                  <div class="input_box">
                    <div class="selctFormBox">
                      <% if project.present? && project.technology_type.present? %>
                      <input type="text" value="<%= project.technology_type %>" readonly class="selectInput">
                      <% else %>
                        <input type="text" value="Select" readonly class="selectInput">
                      <% end %>
                      <%= f.select :technology_type, TechnologyType.order("id ASC").collect {|tt| [ tt.technology, tt.technology ] }, { include_blank: false, prompt: "Select" }, autofocus: true, class: "select" %>
                    </div>
                    <div id="technology_type_error"></div>
                    <div class="radioLbl">
                      <label class="wauto small-fs13"><%= radio_button_tag "autoselect_technology", "no", true, class: "autoselect_technology" %> Auto Select (if you don't know)</label>
                    </div>
                  </div>
                  <%= link_to "Help", faq_path, class: "btn_cancel helpBtn", target: "_blank" %>
                </div>
              </div>
            </div>
            <div class="mt40 buildingQuoteB">
              <div class="b_data pb20">
                <%= static_page.communication_type.try(:html_safe) %>
                <div class="text-center"></div>
                <div class="building_bx">
                  <div class="input_box">
                    <div class="radioLbl">
                      <% CommunicationType.order("id ASC").each do |communication_type| %>
                        <label class="lh28 wauto">
                          <% if project.communication_type.present? %>
                            <%= f.radio_button :communication_type, communication_type.communication %> <%= communication_type.communication_assigned %>
                          <% else %>
                            <%= f.radio_button :communication_type, communication_type.communication, checked: communication_type.communication_assigned %> <%= communication_type.communication %>
                          <% end %>
                        </label>
                      <% end %>
                    </div>
                  </div>
                  <%= link_to "Help", faq_path, class: "btn_cancel helpBtn", target: "_blank" %>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="btn_center">
                <%= link_to "Clear", "javascript:;", class: "btn_cancel", id: "clearform" %>
                <%= link_to "Back", project_building_system_path(project, facility: facility, first: first), remote: true, class: "btn_back" %>
                <%= f.submit "Next", class: "btn_start btn-next" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="b_stepbox">
            <div class="stp_line"><span class="active"><div class="circle green_circle"></div></span><span class="active"></span><span class="active"></span></div>
            <div class="stp_line"><span class="lgreen_circle"><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "s2GrnL.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
        </div>
      </div>  
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    $('#clearform').click(function() {
      $("#building_type_details").get(0).reset();
    });

    <% if project.present? && project.technology_type.present? %>
      $("#autoselect_technology_no").attr("checked", false);
    <% end %>

    $("#project_technology_type").change(function(){
      if($(this).val().length > 0) {
        $("#autoselect_technology_no").attr("checked", false);
      } else {
        $("#autoselect_technology_no").attr("checked", true);
        $("#autoselect_technology_no").click();
      }
    });

    $("#autoselect_technology_no").change(function(){
      if ($('input[name=autoselect_technology]:checked').length > 0) {
        $("#project_technology_type").val("")
        $(this).closest('.building_bx').find('.selectInput').val("Select");
      }
    });
  });
</script>
