<% content_for(:title) do %>
  Project Details
<% end %>
<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="col-sm-3">
          <%= render partial: 'shared/left_image', locals: { static_page: static_page } %>
        </div>
        <div class="col-sm-6">
          <%= form_for(building, url: building_project_path(project), method: :post, remote: true, html: {id: "building_details"}) do |f| %>
            <%= hidden_field_tag :first, first %>            
            <%= hidden_field_tag :facility, facility %>
            <div class="col-sm-12" id="error_messages"><%= model_error_messages(building) %></div>
            <div class="b_data">
              <%= static_page.building_data.try(:html_safe) %>
              <div class="building_bx">
                <label>no. of Buildings</label>
                <div class="input_box">
                  <div class="selctFormBox mb5">
                    <% if building.present? && building.number_of_buildings.present? %>
                      <input type="text" value="<%= building.number_of_buildings %>" readonly class="selectInput">
                    <% else %>
                      <input type="text" value="Select" readonly class="selectInput">
                    <% end %>
                    <%= f.select :number_of_buildings, NumberOfBuilding.order("buildings ASC").collect {|nob| [ nob.buildings, nob.buildings ] }, { include_blank: false, prompt: "Select" }, autofocus: true, required: true, class: "select building_data", tabindex: "1" %>
                  </div>
                  <div id="number_of_buildings_error"></div>
                  <div class="question"><%= static_page.help_number_of_buildings.try(:html_safe) %></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="building_bx">
                <label>Have Floorplans ?</label>
                <div class="input_box">
                  <div class="selctFormBox mb5">
                    <% if building.present? && building.have_floorplan.present? %>
                      <input type="text" value="<%= building.have_floorplan %>" readonly class="selectInput">
                    <% else %>
                      <input type="text" value="Select" readonly class="selectInput">
                    <% end %>
                    <%= f.select :have_floorplan, [["Yes","Yes"], ["No","No"]], { include_blank: false, prompt: "Select" }, required: true, class: "select building_data", tabindex: "2" %>                    
                  </div>
                  <div id="have_floorplan_error"></div>
                  <div class="question"><%= static_page.help_have_floorplan.try(:html_safe) %></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="building_bx margin-bottom-0">
                <% if building.present? && building.have_floorplan.present? %>
                  <div id="floor_plan_message"><%= floor_plan_message(building.have_floorplan) %></div>
                <% else %>
                  <div id="floor_plan_message"></div>
                <% end %>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="area_entry data_entry">
                  <%= static_page.building_area_data_entry.try(:html_safe) %>
                  <div class="inline_area fl">
                    <div class="area1 fl" id="enter_area_data_entry">
                      <% if !f.object.id.present? %>
                        <span>Enter Area</span>
                      <% else %>
                        <%= link_to "Enter Area", building_data_entry_project_path(project), remote: true %>
                      <% end %>
                    </div>
                  </div>
                  <div class="inline_area fr">
                    <div class="area1">
                      <%= static_page.unit_conversion_link.try(:html_safe) %>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <button type="button" class="img-popup" data-toggle="modal" data-target=".bs-example-modal-md" style="display:none"></button>

              <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">
                    <img src="">
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-xs-12">
                <% if static_page.present? && static_page.building_search_option.present? %>
                  <%= static_page.building_search_option.try(:html_safe) %>
                <% else %>
                  <div class="area_entry data_entry">
                    <h3 class="building_hd heading-hd"><span>DATA&nbsp;OPTIONS</span></h3>
                    <div class="inline_area fl">
                      <div class="area1 fl">
                        <%= link_to "UPLOAD BATCH DATA FILE", "javascript:;" %>
                        <input type="file" id="my_file" style="display: none;" />
                      </div>
                    </div>
                    <div class="inline_area fr">
                      <div class="area1">
                        <%= link_to "ONLINE BUILDING SEARCH AND PLANIMETER", "http://www.gravoplex.com/Planimeter/GMapPlanimeter.html", target: "_blank" %>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="btn_center">
              <%= link_to "Clear", "javascript:;", class: "btn_cancel", id: "clearform" %>
              <%= link_to "Back", edit_project_path(project, facility: facility, first: first), remote: true, class: "btn_back" %>
              <span id="next_button"><%= f.submit "Next", class: "btn_start btn-next" %></span>
            </div>
            <script type="text/javascript">
              $(function(){
                <% if f.object.id.present? %>
                  $(".btn-next").click();
                <% end %>
              });
            </script>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="b_stepbox">
            <div class="stp_line"><span class="active"><div class="circle green_circle"></div></span><span class="active"></span><span></span></div>
            <div class="stp_line"><span><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "s1g.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Building Data Entry Modal -->
<div class="modal fade dataEntry" id="dataEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

<!-- Data Entry Screen Enter Modal -->
<div class="modal fade" id="data_entry_screen" tabindex="-1" role="dialog" aria-labelledby="dataEntryScreenLabel">
  <div class="modal-dialog modal-sm small-modal-margin">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h4 id="dataEntryScreenLabel" class="modal-title">
          Select and Enter Data in the Pop-up Data Entry Screen
        </h4>
      </div>
      <div class="modal-footer text-align-center btn_center margin-top-0">
        <%= link_to "OK", "javascript:;", class: "btn_start padding-10", data: {dismiss: "modal"} %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    $('#clearform').click(function() {
      $("#building_details").get(0).reset();
      $("#floor_plan_message").html("");
    });

    $("#building_have_floorplan").change(function(){
      $.get( "<%= get_floor_plan_message_projects_path %>", { floor_plan: $(this).val() });
    });

    $('.area1.fl > a').click(function(){
      $("#my_file").click()
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(".img-popup").click();
          $(".modal-content img").attr("src", e.target.result)
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#my_file").change(function(){
      readURL(this);
    });

    $(".building_data").change(function(){
      if ($(".building_data").map(function() {if (this.value!="") return this.value}).size()==2) {
        $(".btn-next").click();
      }
    });

    $("#building_details").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "building[number_of_buildings]") {
          error.appendTo($("#number_of_buildings_error"));
        } else if(element.attr("name") == "building[have_floorplan]") {
          error.appendTo($("#have_floorplan_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "building[number_of_buildings]": {
          required: true
        },
        "building[have_floorplan]": {
          required: true
        }
      },
      messages: {
        "building[number_of_buildings]": {
          required: "Please select No. of Buildings."
        },
        'building[have_floorplan]':{
          required: "Please select Have Floorplans."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>