<% content_for(:title) do %>
  Project Details
<% end %>
<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="col-sm-3">
          <%= render partial: 'shared/left_image', locals: { static_page: static_page } %>
        </div>
        <div class="col-sm-6">
          <%= form_for(project, url: update_building_system_project_path(project), method: :post, remote: true, html: {id: "building_system_details"}) do |f| %>
            <%= hidden_field_tag :first, first %>
            <%= hidden_field_tag :facility, facility %>
            <div class="col-sm-12" id="error_messages"><%= model_error_messages(project) %></div>
            <div class="clearfix buildingStep2">
              <div class="col-md-6 col-xs-12 prFour padd_lft0">
                <div class="area_entry data_entry feed_method">
                  <%= static_page.building_system_feed_method.try(:html_safe) %>
                  <div class="inline_area radioLbl">
                    <% system_feed_methods.each do |system_feed| %>
                      <label>
                        <% if project.system_feed_method.present? %>
                          <%= f.radio_button :system_feed_method, system_feed.feed_method %> <%= system_feed.feed_method %>
                        <% else %>
                          <%= f.radio_button :system_feed_method, system_feed.feed_method, checked: system_feed.feed_assigned %> <%= system_feed.feed_method %>
                        <% end %>
                      </label>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="plFour col-md-6 padd_rgt0 col-xs-12">
                <div class="area_entry data_entry feed_method">
                  <%= static_page.building_system_architecture.try(:html_safe) %>
                  <div class="inline_area radioLbl">
                    <% system_architectures.each do |system_archi| %>
                      <label>
                        <% if project.system_architecture.present? %>
                          <%= f.radio_button :system_architecture, system_archi.architecture, class: "system_architecture" %> <%= system_archi.architecture %>
                        <% else %>
                          <%= f.radio_button :system_architecture, system_archi.architecture, class: "system_architecture", checked: system_archi.architecture_assigned %> <%= system_archi.architecture %>
                        <% end %>
                      </label>
                    <% end %>
                  </div>
                  <%= link_to "Help", faq_path, class: "btn_cancel helpBtn", target: "_blank" %>
                </div>
              </div>
            </div>
            <div class="mt40 buildingQuoteB">
              <div class="b_data expected_rssi">
                <%= static_page.expected_rssi_at_mobile.try(:html_safe) %>
                <div class="text-center"></div>
                <div class="building_bx">
                  <div class="input_box inpbox">
                    <div class="selctFormBox">
                      <% if project.present? && project.expected_rssi_at_mobile.present? %>
                        <input type="text" value="<%= project.expected_rssi_at_mobile %>" readonly class="selectInput">
                      <% else %>
                        <input type="text" value="Select" readonly class="selectInput">
                      <% end %>
                      <%= f.select :expected_rssi_at_mobile, RssiThresholdLevelBenchmark.order("threshold_level DESC").collect {|rtlb| [ rtlb.threshold_level, rtlb.threshold_level ] }, { include_blank: false, prompt: "Select" }, class: "select" %>
                    </div>
                    <div class="question"><%= static_page.help_excepted_rssi_at_mobile.try(:html_safe) %></div>
                    <div class="radioLbl">
                      <label class="wauto small-fs13"><%= radio_button_tag "autoselect_rssi", "no", true, class: "autoselect_rssi" %> Auto Select (If you don't know)</label>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="mt40 buildingQuoteB">
              <div class="b_data">
                <%= static_page.building_preferred_materials_sourcing.try(:html_safe) %>
                <div class="building_bx">
                  <div class="input_box inpbox">
                    <div class="selctFormBox">
                      <% if project.present? && project.marketing_id.present? %>
                        <input type="text" value="<%= Marketing.find_by_id(project.marketing_id).try(:vendor_name) %>" readonly class="selectInput">
                      <% else %>
                        <input type="text" value="Select" readonly class="selectInput">
                      <% end %>
                      <select id="project_marketing_id" name="project[marketing_id]" class="select">
                        <option value="">Select</option>
                        <% Region.eager_load(:marketings).all.each do |region| %>
                          <optgroup label="<%= region.name %>">
                            <% region.marketings.each do |marketing| %>
                              <% if project.marketing_id.present? && (project.marketing_id == marketing.id) %>
                                <option value="<%= marketing.id %>" selected><%= marketing.vendor_name %></option>
                              <% else %>
                                <option value="<%= marketing.id %>"><%= marketing.vendor_name %></option>
                              <% end %>
                            <% end %>
                          </optgroup>
                        <% end %>
                      </select>
                    </div>
                    <div class="question"><%= static_page.help_materials_sourcing.try(:html_safe) %></div>
                    <div class="radioLbl">
                      <label class="wauto small-fs13"><%= radio_button_tag "autoselect_vendor", "no", true, class: "autoselect_vendor" %> Auto Select (we can recommend where)</label>
                      <label class="wauto small-fs13"><%= radio_button_tag "autoselect_vendor", "not", false, class: "autoselect_vendor" %> Not Interested</label>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="btn_center">
                <%= link_to "Clear", "javascript:;", class: "btn_cancel", id: "clearform" %>
                <% if first.present? %>
                  <%= link_to "Back", quick_start_step2_path(project_id: project.slug, facility: facility, first: first), remote: true, class: "btn_back" %>
                <% else %>
                  <%= link_to "Back", project_building_services_path(project, facility: facility, first: first), remote: true, class: "btn_back" %>
                <% end %>
                <%= f.submit "Next", class: "btn_start btn-next" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="b_stepbox">
            <div class="stp_line"><span class="active"><div class="circle green_circle"></div></span><span class="active"></span><span class="active"></span></div>
            <div class="stp_line"><span class="lgreen_circle"><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "s2GrnL.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
        </div>
      </div>  
    </div>
  </div>
</div>

<!-- System Architecture Select Modal -->
<div class="modal fade" id="architecture_select" tabindex="-1" role="dialog" aria-labelledby="destroyShowLabel"></div>

<script type="text/javascript">
  $(function() {
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    $('#clearform').click(function() {
      $("#building_system_details").get(0).reset();
    });

    $('.system_architecture').click(function(){
      if($(this).val() != "Auto Select"){
        $.get( "<%= check_system_architecture_project_path(project) %>", { system_architecture: $(this).val() });
      }
    });

    <% if project.marketing_id.present? %>
      $("#autoselect_vendor_no").attr("checked", false);
      $("#autoselect_vendor_not").attr("checked", false);
    <% end %>

    $("#project_marketing_id").change(function(){
      if($(this).val().length > 0) {
        $("#autoselect_vendor_no").attr("checked", false);
        $("#autoselect_vendor_not").attr("checked", false);
      } else {
        $("#autoselect_vendor_no").attr("checked", true);
        $("#autoselect_vendor_not").attr("checked", true);
        $("#autoselect_vendor_no").click();
        $("#autoselect_vendor_not").click();
      }
    });

    $(".autoselect_vendor").change(function(){
      if ($('input[name=autoselect_vendor]:checked').length > 0) {
        $("#project_marketing_id").val("")
        $(this).closest('.building_bx').find('.selectInput').val("Select");
      }
    });

    <% if project.expected_rssi_at_mobile.present? %>
      $("#autoselect_rssi_no").attr("checked", false);
    <% end %>

    $("#project_expected_rssi_at_mobile").change(function(){
      if($(this).val().length > 0) {
        $("#autoselect_rssi_no").attr("checked", false);
      } else {
        $("#autoselect_rssi_no").attr("checked", true);
        $("#autoselect_rssi_no").click();
      }
    });

    $(".autoselect_rssi").change(function(){
      if ($('input[name=autoselect_rssi]:checked').length > 0) {
        $("#project_expected_rssi_at_mobile").val("")
        $(this).closest('.building_bx').find('.selectInput').val("Select");
      }
    });
  });
</script>
