<div class="modal-dialog modal-md small-modal-margin">
  <div class="modal-content text-center">
    <div class="modal-header">
      <h4 id="destroyShowLabel" class="modal-title">
        You have <%= buildings %> of <%= total_buildings.size %> Buildings that do not meet the criteria for <%= selected %> Materials. Use <%= system_architecture %> Materials for them or proceed with <%= selected %> Materials for them?
      </h4>
    </div>
    <div class="modal-footer text-align-center btn_center margin-top-0">
      <%= link_to "Yes", "javascript:;", class: "btn_start padding-10", id: "yes_check" %>
      <%= link_to "No", "javascript:;", class: "btn_back padding-10 margin-right-0", id: "no_check" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
  	$("#yes_check").click(function(){
      $("#architecture_select").modal("hide");
  	});
    $("#no_check").click(function(){
      <% if system_architecture == "Fiber and Coax" %>
        $("#project_system_architecture_fiber_and_coax").attr("checked", true);
        $("#project_system_architecture_fiber_and_coax").click();
      <% elsif system_architecture == "Coax" %>
        $("#project_system_architecture_coax").attr("checked", true);
        $("#project_system_architecture_coax").click();
      <% end %>
      $("#architecture_select").modal("hide");
    });
  });
</script>