<% content_for(:title) do %>
  Disclaimer Acknowledgement
<% end %>

<% if static_page.present? && static_page.disclaimer_acknowledgement.present? %>
  <%= static_page.disclaimer_acknowledgement.html_safe %>
<% else %>
  <div class="Disclaimer whiteBkg">
    <div class="container">
      <div class="max960width">
        <div class="clearfix tac boldHD quick_start_h1"> Disclaimer</div>
        <p align="left">The output file is a Material-only ROM/Budgetary Price Quotation. This quote represents our best assessment of the ROM material categories and quantities required to develop the DAS solution per minimum viable inputs (MVI) stated by the user. This quotes but may be subject to variations due to factors beyond our control. The accuracy of this ROM quote is limited to the confines of the accuracy and industry best practices relating to standards for Budget Estimates of -10% to +25%.<p>
        <p align="left">This service is provided as is, and is to be used at the subscriber’s discretion. The subscriber assumes all risk for using this service.<strong> XXXXX Inc</strong>. provides no guarantees or warranty of any kind, expressed or implied, with respect to any goods, parts  and service provided by <strong>XXXXX Inc</strong>. Including, but not limited to, the implied guarantees, warranties or merchantability and fitness for a particular purpose. <strong>XXXXX Inc</strong>. shall not in any event be liable for any damages including, but not limited to, any indirect, special or consequential damages arising out of or in connection with furnishing of goods, parts or service, or the performance, use of, or inability to use any goods, parts or service, or otherwise, whether based on contract, tort or any other legal theory.</p> 
        <p align="left">In the course of using the output report from this service to respond to or satisfy the conditions of any RFP or other situations relating to the output report from this service, the subscriber agrees to indemnify and hold harmless <strong>XXXXX Inc</strong>., its officers, agents and employees from and against any liabilities, damages, costs, expenses, and attorneys' fees for any claim of loss, damage, cost, or injury  of whatsoever kind or nature, including bodily injury of death, relating to the use of this service.</p>
        <p align="left">The pricing provided for quoted projects by XXXXX Inc in the output report from this service represents a best average market price as offered by preferred vendors, OEMs and equipment manufacturers. XXXXX Inc. reserves the right to further offer, promote and/or make suggestions to the subscriber to opt-into participating in external granular, accurate and competitive pricing offers from preferred vendors, OEMs and equipment manufacturers for the subscriber’s quoted projects, at the subscriber’s discretion. The subscriber acknowledges and agrees to these terms and conditions of pricing by registering an account with XXXXX Inc.</p>
        <label><input type="checkbox" name="acknowledge" id="disclaimer_acknowledge"> I have read and acknowledge the above disclaimer.</label>
      </div>
    </div>
  </div>
  <!-- Disclaimer Acknowledge Modal -->
  <div class="modal fade" id="acknowledge_show" tabindex="-1" role="dialog" aria-labelledby="DisclaimerShowLabel">
    <div class="modal-dialog modal-sm small-modal-margin">
      <div class="modal-content text-center">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="DisclaimerShowLabel" class="modal-title">You must acknowledge the above disclaimer.</h4>
        </div>
        <div class="modal-footer text-align-center btn_center margin-top-0">
          <%= link_to "OK", "javascript:;", class: "btn_start padding-10 margin-right-0", data: {dismiss: "modal"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="stepOuterNext stepOuterLast">
  <div class="container">
    Click the Finish Button to get your Report!
    <div class="nextBtn mt20">
      <%= link_to "Finish", "javascript:;", class: "orangeBtn", id: "finish_btn" %>
      <%= link_to "", report_project_path(project, facility: facility), remote: true, class: "hide", id: "finish_hide_btn" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#finish_btn").click(function(){
      if($("#disclaimer_acknowledge").is(":checked") == true) {
        $.post("<%= update_disclaimer_project_path(project) %>", { disclaimer_acknowledge: "true" });
      } else {
        $("#acknowledge_show").modal("show");
      }
    });
  });
</script>