<% content_for(:title) do %>
  Project Details
<% end %>

<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="col-sm-3">
          <%= render partial: 'shared/left_image', locals: { static_page: static_page } %>
        </div>
        <div class="col-sm-6">
          <%= form_for(project, remote: true, html: {id: "project_details"}) do |f| %>
            <%= hidden_field_tag :first, first %>
            <%= hidden_field_tag :facility, facility %>
            <div class="col-sm-12 margin-top-12" id="error_messages"><%= model_error_messages(project) %></div>
            <div class="b_data building_b">
              <%= static_page.building_project_details.try(:html_safe) %>
              <div class="building_bx row">
                <div class="prFour col-sm-6 buildingQuote">
                  <div class="input_box">
                    <%= f.text_field :user_name, autofocus: true, required: true, placeholder: "User Name", class: "form-control inputText mb5", tabindex: "1" %>
                    <div class="question"><%= static_page.help_user_name.try(:html_safe) %></div>
                  </div>
                </div>
                <div class="col-sm-6 plFour buildingQuote ">
                  <div class="input_box">
                    <%= f.text_field :project_name, required: true, placeholder: "Project Name", class: "form-control inputText mb5", tabindex: "2" %>
                    <div class="question"><%= static_page.help_project_name.try(:html_safe) %></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="mt15">
                  <div class="prFour col-sm-6 buildingQuote">
                    <div class="input_box">
                      <%= f.text_field :company, required: true, placeholder: "Company", class: "form-control inputText mb5", tabindex: "3" %>
                      <div class="question"><%= static_page.help_company.try(:html_safe) %></div>
                    </div>
                  </div>
                  <div class="col-sm-6 plFour buildingQuote ">
                    <div class="input_box">
                      <%= f.text_field :name, placeholder: "Building Name", class: "form-control inputText mb5", tabindex: "4" %>
                      <div class="question"><%= static_page.help_name.try(:html_safe) %></div>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
            <div class="b_data building_b m_top">
              <%= static_page.building_facility_option.try(:html_safe) %>
              <div class="building_bx">
                <div class="text-center radio radioNorm">
                  <% if project.present? && project.facility_option.present? %>
                    <label><%= f.radio_button :facility_option, "Building", tabindex: "5", disabled: true %> Building  </label> &nbsp; &nbsp;
                    <label><%= f.radio_button :facility_option, "Tunnel", tabindex: "6", disabled: true %> Tunnel </label>  
                  <% else %>
                    <label><%= f.radio_button :facility_option, "Building", tabindex: "5" %> Building  </label> &nbsp; &nbsp;
                    <label><%= f.radio_button :facility_option, "Tunnel", tabindex: "6" %> Tunnel </label>  
                  <% end %>
                </div>
                <div id="facility_option_error"></div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="btn_center">
              <%= link_to "Clear", "javascript:;", class: "btn_cancel", id: "clearform" %>
              <% if first.present? %>
                <%= link_to "Back", quick_start_step1_path(facility: facility, first: first), remote: true, class: "btn_back" %>
              <% else %>
                <%= link_to "Back", root_path, remote: true, class: "btn_back" %>
              <% end %>
              <%= f.submit "Next", class: "btn_start btn-next", tabindex: "7" %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="b_stepbox">
            <div class="stp_line">
              <span class="active">
                <div class="circle green_circle"></div>
              </span>
              <span></span><span></span>
            </div>
            <div class="stp_line"><span><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "s1g.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Expired Modal Start -->
<div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md small-modal-margin">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h4 id="destroyShowLabel" class="modal-title">
          You have not subscribed to this facility. Please subscribe to continue.
        </h4>
      </div>
      <div class="modal-footer text-align-center btn_center margin-top-0">
        <%= link_to "Subscribe", pricing_path, class: "btn_start padding-10" %>
      </div>
    </div>
  </div>
</div>
<!-- Expired Modal End -->

<script type="text/javascript">
  $(function(){
    $('#clearform').click(function() {
      $("#project_details").get(0).reset();
    });

    $("#project_facility_option_building").click(function() {
      $.get( "<%= check_project_subscription_path %>", { facility: $(this).val() });
      if (this.value.indexOf("Building") != -1) {
        $("#project_name").attr("placeholder", "Building Name");
        $("li").removeClass("activeIcon");
        $("li.i2").addClass("activeIcon");
      }
    });
    $("#project_facility_option_tunnel").click(function() {
      $.get( "<%= check_project_subscription_path %>", { facility: $(this).val() });
      if (this.value.indexOf("Tunnel") != -1) {
        $("#project_name").attr("placeholder", "Tunnel Name");
        $("li").removeClass("activeIcon");
        $("li.i3").addClass("activeIcon");
      }
    });

    $("#project_details").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "project[facility_option]") {
          error.appendTo($("#facility_option_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "project[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "project[project_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "project[company]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "project[name]": {
          maxlength: 255
        },
        "project[facility_option]": {
          required: true
        }
      },
      messages: {
        "project[user_name]": {
          required: "Please enter User Name.",
          noSpace: "Please enter valid User Name."
        },
        "project[project_name]": {
          required: "Please enter Project Name.",
          noSpace: "Please enter valid Project Name."
        },
        "project[company]": {
          required: "Please enter Company.",
          noSpace: "Please enter valid Company."
        },
        'project[facility_option]': {
          required: "Please select Facility Option."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
