<% if @saved %>
	$("#enter_area_data_entry").html("<%= j(link_to 'Enter Area', building_data_entry_project_path(@project), remote: true) %>");
	// $("#next_button").html("<%#= j(link_to 'Next', project_building_services_path(@project, first: @first, facility: @facility), remote: true, class: 'btn_start') %>");
	$("#next_button").html("<%= j(link_to 'Next', check_data_entries_project_path(@project, first: @first, facility: @facility), remote: true, class: 'btn_start') %>");
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@building)) %>");
<% end %>

set_footer();