$("#dataEntry").html("<%= j(render partial: 'building_data_entry', locals: { project: @project, building: @building, building_data_entry: @building_data_entry, static_page: @static_page }) %>");
$("#dataEntry").modal({backdrop: 'static', keyboard: false});
setTimeout(function(){
	$("#building_data_entry_building_name").focus();
}, 1000);