<% if @project.building.building_data_entries.size == 0 %>
	$("#data_entry_screen").modal("show");
<% else %>
	$("#container_content").html("<%= j(render partial: 'building_services_form', locals: { project: @project, facility: @facility, first: @first, static_page: @static_page }) %>");
	document.title = "Project Details"
	if (history && history.pushState) {
		history.pushState(null, document.title, "<%= project_building_services_path(@project, facility: @facility, first: @first) %>");
		$(window).bind("popstate", function(){
	    $.getScript(location.href);
	  });
	}

	set_footer();
	$('html').scrollTop(0);
<% end %>