<% if @system_architecture.present? && @buildings > 0 %>
	$("#architecture_select").html("<%= j(render partial: 'check_system_architecture', locals: { selected: @selected, system_architecture: @system_architecture, buildings: @buildings, total_buildings: @total_buildings }) %>");
	$("#architecture_select").modal("show");
<% end %>