$("#container_content").html("<%= j(render partial: 'form', locals: { project: @project, facility: @facility, first: @first, static_page: @static_page }) %>");
document.title = "Project Details"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= edit_project_path(@project, facility: @facility, first: @first) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}
$("#project_user_name").focus();
set_footer();
$('html').scrollTop(0);