<% building_data_entries = @project.building.building_data_entries.order("id ASC") %>
<% building_data_entries.each do |building_data_entry| %>
	<table border="0" cellspacing="0" cellpadding="0" width="1100" align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;">
	  <tr>
		  <td>
				<%= render partial: "report_header", locals: { project: @project, static_page: @static_page } %>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:50px;">
					<tr>
						<td colspan="7" style="color:#767676;text-align:center;padding-bottom:25px;font-weight:600;">
							Building Name: <%= building_data_entry.building_name %> , Building Number: <%= building_data_entry.building_number %>
						  <% if building_data_entry.floor_number.present? %>
						  , Floor Number: <%= building_data_entry.floor_number %>
						  <% end %>
						</td>
					</tr>
				  <tr>
						<th width="10%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">SR. NO.</th>
						<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">MATERIAL CATEGORY</th>
						<th width="25%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">DESCRIPTION</th>
						<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">SUGGESTED MFG &amp; PN</th>
						<th width="10%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">PART QUANTITY</th>
						<th width="10%" style="background:#efefef;padding:14px 12px;color:#767676;border-bottom:2px #e8e8e8 solid;border-right:2px #e8e8e8 solid;">UNIT PRICE</th>
						<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-bottom:2px #e8e8e8 solid;">TOTAL PRICE</th>
				  </tr>
					<% total_price = 0 %>
          <% part_quantity_informations = building_data_entry.part_quantity_informations.includes(:report_material_list).order("id ASC") %>
          <% part_quantity_informations.each.with_index(1) do |part_quantity_information, index| %>
            <% product_price_list = ProductPriceList.where(report_material_list_id: part_quantity_information.report_material_list_id).last %>
            <% total_line_price = 0 %>
            <% if part_quantity_information.quantity.present? %>
              <% total_line_price = part_quantity_information.quantity * calculate_unit_price(@project, product_price_list, part_quantity_information) %>
            <% end %>
            <% total_price += total_line_price %>
            <% report_material_list = part_quantity_information.report_material_list %>
            <tr>
              <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= index %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:left;padding-left:5px;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= report_material_list.try(:material_category).try(:category) %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:left;padding-left:5px;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= report_material_list.try(:description) %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">
              	<% if show_building_suggested_column(@building_plan) %>
              		<%= product_price_list.mfg_pn %>
                <% else %>
                  -
              	<% end %>
              </td>
              <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= value_with_delimiter(part_quantity_information.quantity.round) %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:right;padding-right:5px;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">
              	<% if show_building_unit_column(@building_plan) %>
              		$<%= value_with_precision(calculate_unit_price(@project, product_price_list, part_quantity_information)) %>
                <% else %>
                  -
              	<% end %>
              </td>
              <td style="font-weight:500;padding:8px 5px;text-align:right;padding-right:5px;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">
              	<% if show_building_total_column(@building_plan) %>
              		$<%= value_with_precision(total_line_price.to_f.round(2)) %>
                <% else %>
                  -
              	<% end %>
              </td>
            </tr>
          <% end %>
				  <tr>
				  	<td colspan="7" style="padding-top:20px;font-weight:bold;">Your ROM Total Material Quote is: $<%= value_with_precision(total_price.to_f.round(2)) %> (USD)</td>
				  </tr>
				</table>
		  </td>
	  </tr>
	</table>
	<div style="display:block; clear:both; page-break-after:always;"></div>
<% end %>

<table border="0" cellspacing="0" cellpadding="0" width="1100" align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;">
  <tr>
	  <td>
			<%= render partial: "report_header", locals: { project: @project, static_page: @static_page } %>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:60px;">
			  <tr>
					<th width="12%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">BUILDING NAME</th>
					<th width="13%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">ENVIRONMENT TYPE</th>
					<th width="12%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">BUILDING NUMBER</th>
					<th width="12%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">NUMBER OF FLOORS</th>
					<th width="12%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">FLOOR NUMBER</th>
					<th width="13%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">TOTAL AREA OF FLOOR / BUILDING</th>
					<th width="13%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">PRICE PER SQ. FT.</th>
					<th width="13%" style="background:#efefef;padding:14px 12px;color:#767676;border-bottom:2px #e8e8e8 solid;">TOTAL PRICE</th>
			  </tr>
				<% project_price = 0 %>
			  <% building_data_entries = @project.building.building_data_entries.order("id ASC") %>
			  <% building_data_entries.each do |building_data_entry| %>
			    <% total_price = 0 %>
			    <% part_quantity_informations = building_data_entry.part_quantity_informations.includes(:report_material_list).order("id ASC") %>
			    <% part_quantity_informations.each.with_index(1) do |part_quantity_information, index| %>
			      <% product_price_list = ProductPriceList.where(report_material_list_id: part_quantity_information.report_material_list_id).last %>
			      <% total_line_price = 0 %>
			      <% if part_quantity_information.quantity.present? %>
			        <% total_line_price = part_quantity_information.quantity * calculate_unit_price(@project, product_price_list, part_quantity_information) %>
			      <% end %>
			      <% total_price += total_line_price %>
			    <% end %>
			    <% project_price += total_price %>
			    <tr>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= building_data_entry.building_name %></td>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= building_data_entry.building_environment.try(:environment) %></td>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= building_data_entry.building_number %></td>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= building_data_entry.number_of_floors %></td>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= building_data_entry.floor_number %></td>
			      <% if building_data_entry.floor_number.present? %>
			      	<td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= value_with_delimiter(building_data_entry.area_this_floor) %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">$<%= value_with_precision((total_price.to_f / building_data_entry.area_this_floor).round(2)) %> (USD)</td>
            <% else %>
			      	<td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;"><%= value_with_delimiter(building_data_entry.total_area_building) %></td>
              <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">$<%= value_with_precision((total_price.to_f / building_data_entry.total_area_building).round(2)) %> (USD)</td>
            <% end %>
			      <td style="font-weight:500;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;text-transform: uppercase;">$<%= value_with_precision(total_price.to_f.round(2)) %> (USD)</td>
			    </tr>
			  <% end %>
			  <tr>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:left;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;color:#767676;">TOTAL</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;background:#efefef;">&nbsp;</td>
					<td style="font-weight:600;padding:8px 5px;text-align:center;font-size:12px;border-bottom:2px #e8e8e8 solid;border-left:2px #e8e8e8 solid;background:#efefef;color:#767676;">$<%= value_with_precision(project_price.to_f.round(2)) %> (USD)</td>
			  </tr>
			</table>
	  </td>
  </tr>
</table>

<div style="display:block; clear:both; page-break-after:always;"></div>

<table border="0" cellspacing="0" cellpadding="0" width="1100" align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;">
  <tr>
	  <td>
			<%= render partial: "report_header", locals: { project: @project, static_page: @static_page } %>
			<% if @static_page.present? && @static_page.report_disclaimer.present? %>
        <%= @static_page.report_disclaimer.html_safe %>
      <% else %>
			  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:30px;">
				  <tr>
						<td style="font-weight:bold;padding-bottom:15px;font-size:17px;color:#4f4f54;">QUOTE NOTES</td>
				  </tr>
					<tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							<p>This is a Material-only ROM/Budgetary Price Quotation. This quote represents our best assessment of the ROM material categories and quantities required to develop the DAS solution per minimum viable inputs (MVI) stated by the user. This quote may be subject to variations due to factors beyond our control. The accuracy of this ROM quote is limited to the confines of the accuracy and industry best practices relating to standards for Budget Estimates of -10% to +25%.</p> 
				      <p>1. This Quote does not Include Backup Battery or UPS Power Systems.AC Power Assumed for all active BDA equipment. </p> 
				      <p>2. System Engineering Services for RF Site Survey, System Design, System Activation, Optimization, and Coverage confirmation for all extended services are not quoted. </p>
				      <p>3. This Quote does not include pricing for travel and expenses, System Closeout Package consisting of: System Description, As-built Documentation, System Settings, Coverage Benchmark Results, Equipment Manuals and Training. </p> 
				      <p>4. Additional Services such as Alarms reporting via NMS are not quoted. </p>   
				      <p>5. This Quote does not include system Installation services. </p>
				      <p>6. This Quote assumes that all services lie within the bandwidth of the BDAs based on the basic frequency band entered. </p>
				      <p>7. This Quote assumes an all wall-mounted active/passive equipment installation. No floor-standing racks or cabinet assemblies are quoted. </p>
						</td>
				   </tr>
					<tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum.
						</td>
				  </tr>
				  <tr>
						 <td style="font-weight:bold;padding-bottom:35px;font-size:17px;color:#4f4f54;padding-top:25px;">PRICING TERMS</td>
				  </tr>
				  <tr>
				    <td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
				      <p>1. The Pricing shown on this quote is valid for 30 Days from the quote preparation date shown. </p>
				      <p>2. All prices are in US Dollars</p>
				    </td>
				   </tr>
				  <tr>
						<td style="font-weight:bold;padding-bottom:35px;font-size:17px;color:#4f4f54;padding-top:25px;">QUOTE DISCLAIMERS AND ASSUMPTIONS</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							<p>1. Provision of more details such as actual frequencies, floorplans or floor by floor dimensions and propagation profile and donor site details when produced may warrant a re-estimation and requote for greater accuracy. </p>
				      <p>2. The DAS shall deliver coverage throughout 95% of all occupied building spaces. </p>
				      <p>3. It is assumed that any undesired channels occurring within the passband of the headend is a minimum of 10dB lower in amplitude than any of the desired channels. </p>
				      <p>4. The proposed estimate assumes that portable radios are capable of transmitting at a minimum of +30 dBm and mobile phones at +26dBm. </p>
				      <p>5. The system is estimated to provide an average ‐ 95 dBm signal level throughout the buildings for Public Safety and other two-way radio Services, and ‐ 85 dBm for commercial wireless carrier services. </p> 
				      <p>6. The Signal Boosters/BDAs are assumed to be located a Telco Closet with access to a stacked riser. </p>
				      <p>7. When Off-Air donor systems are selected, the Radio site BTS is assumed to be located off‐ site and an off‐ air feed solution is assumed. </p>
				      <p>8. All facility walls are assumed to be free of metal/mesh shielding. </p>
				      <p>9. Areas outside customer specific indicated coverage zones are not necessarily estimated to have coverage enhancement, however RF signal may radiate into these areas at a level below the average signal level estimated. </p>
						</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							 Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum.
						</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							Sed mauris quam, facilisis id lacus sed, fringilla pellentesque erat. Sed neque ipsum, lacinia in commodo vel, consequat in sem. Fusce id libero ac ante vehicula lobortis id sed tellus. Aliquam nulla nulla, tristique vitae suscipit a, ullamcorper at quam. In eu nibh maximus lorem mollis rhoncus. Sed feugiat, turpis et faucibus scelerisque, lorem lorem interdum ligula, vitae consequat urna eros pharetra nisl. Praesent sodales pulvinar magna. Nam eget metus ut purus porta vulputate vulputate a ligula. Ut et eros sem. Vivamus facilisis odio eget metus ornare, et varius augue bibendum.
						</td>
					</tr>
				  <tr>
						<td style="font-weight:bold;padding-bottom:35px;font-size:17px;color:#4f4f54;padding-top:25px;">QUOTE TERMS AND CONDITIONS</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							 <p>This service is provided as-is, and is to be used at the subscriber’s discretion. The subscriber assumes all risk for using this service. XXXXX Inc. provides no guarantees or warranty of any kind, expressed or implied, with respect to any goods, parts  and service provided by XXXXX Inc. Including, but not limited to, the implied guarantees, warranties or merchantability and fitness for a particular purpose. XXXXX Inc. shall not in any event be liable for any damages including, but not limited to, any indirect, special or consequential damages arising out of or in connection with furnishing of goods, parts or service, or the performance, use of, or inability to use any goods, parts or service, or otherwise, whether based on contract, tort or any other legal theory. </p>  
						</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							<p>In the course of using the output report from this service to respond to or satisfy the conditions of any RFP or other situations relating to the output report from this service, the subscriber agrees to indemnify and hold harmless XXXXX Inc., its officers, agents and employees from and against any liabilities, damages, costs, expenses, and attorneys' fees for any claim of loss, damage, cost, or injury  of whatsoever kind or nature, including bodily injury of death, relating to the use of this service. </p>
						</td>
				  </tr>
				  <tr>
						<td style="color:#727272;font-weight:bold;line-height:20px;padding-bottom:20px;">
							<p>The pricing provided for quoted projects by XXXXX Inc in the output report from this service represents a best average market price as offered by preferred vendors, OEMs and equipment manufacturers. XXXXX Inc. reserves the right to further offer, promote and/or make suggestions to the subscriber to opt-into participating in external granular, accurate and competitive pricing offers from preferred vendors, OEMs and equipment manufacturers for the subscriber’s quoted projects, at the subscriber’s discretion. The subscriber acknowledges and agrees to these terms and conditions of pricing by registering an account with XXXXX Inc.</p>
            </td>
				  </tr>
				</table>
			<% end %>
	  </td>
  </tr>
</table>
