<% if @saved %>
	$("#building_data_entry_area_this_floor").removeAttr("disabled");
  $("#building_data_entry_floor_number").removeAttr("disabled");
  $("#building_data_entry_floor_number").html("<option value=''>Enter Data for this Floor Number</option>");
	$("#message").show();
	<% if(@building_data_entry.building_number == @building.number_of_buildings && ((@building_data_entry.floor_number.present? && (@building_data_entry.floor_number == @building_data_entry.number_of_floors)) || @no_floor_area)) %>
		$("#return_message").html("Data successfully entered for all Buildings. Please click on Close button.");
	<% else %>
		<% if @building_data_entry.floor_number.present? %>
			$("#return_message").html("Successfully entered data for: <b>Building <%= @building_data_entry.building_number %> Floor <%= @building_data_entry.floor_number %></b>");
		<% else %>
			$("#return_message").html("Successfully entered data for: <b>Building <%= @building_data_entry.building_number %></b>");
		<% end %>
	<% end %>
<% else %>
	$("#building_error_messages").html("<%= j(model_error_messages(@building_data_entry)) %>");
	$("#message").hide();
	$("#return_message").html("");
<% end %>

set_footer();
