<% if @saved %>
	<% if @first.present? %>
		$("#container_content").html("<%= j(render partial: 'users/quick_start_step2', locals: { project_id: @project.slug, first: @first, facility: @facility, static_page: @static_page }) %>");
		document.title = "Step2"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= quick_start_step2_path(project_id: @project.slug, first: @first, facility: @facility) %>");
			$(window).bind("popstate", function(){
		    $.getScript(location.href);
		  });
		}
	<% else %>
		$("#container_content").html("<%= j(render partial: 'building_system_form', locals: { project: @project, system_feed_methods: @system_feed_methods, system_architectures: @system_architectures, first: @first, facility: @facility, static_page: @static_page }) %>");
		document.title = "Project Details"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= project_building_system_path(@project, first: @first, facility: @facility) %>");
			$(window).bind("popstate", function() {
		    $.getScript(location.href);
		  });
		}
	<% end %>
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@project)) %>");
<% end %>

set_footer();
$('html').scrollTop(0);