<% content_for(:title) do %>
  Login
<% end %>

<!-- Slider Outer -->
<div class="clearfix sliderOuter">  
  <div class="">
    <div class="container"> 
      <div class="row">
        <%= render partial: 'shared/slider_inner', locals: { static_page: static_page } %>
        <div class="col-sm-5">
          <div class="formOuter login loginFormOuter">
            <%= static_page.heading_login_details.try(:html_safe) %>
            <div class="row">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "signin_user"}) do |f| %>
                <div class="col-sm-12"><%= flash_messages %></div>
                <div class="col-sm-12">
                  <%= f.text_field :login, autofocus: true, required: true, placeholder: "User Name / Email Id", class: "form-control inputText mb5" %>
                </div>
                <div class="col-sm-12">
                  <%= f.password_field :password, placeholder: 'Password', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="col-sm-6 plz">
                  <label> <%= f.check_box :remember_me %> Remember me </label>
                </div>
                <div class="col-sm-6 prz">
                  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
                </div>
                <div class="col-sm-12">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<!--  Slider Outer End-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#signin_user").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[login]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        }
      },
      messages: {
        "user[login]": {
          required: "Please enter your User Name or Email Id.",
          noSpace: "Please enter valid User Name or Email Id."
        },
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum 8 characters.",
          maxlength: "Your Password must be of maximum 255 characters."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
