/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px) {
.alreadyMEm {margin-top: 13px;}
.dash_bg1{ padding:37px 6px;}
.dash_bg3{ padding:37px 6px;}
.project_box a{ font-size:13px;}
.dash_bg2{ padding:14px 8px;}
.center_text p{ font-size:13px;}
.building_bx label{ width:33%;}
.input_box{ width:67%;}
.input_box.inpbox{ width:80%;}
.inline_area .area1{ width:82px;font-size:12px;}
.data_entry .building_hd{ font-size:18px;margin-left:-92px;}
.area1{ width:104px;}
.stp_line span{ margin-right:36px;}
.stepOuterNext{ font-size: 15px;}
.countdown.styled div{ font-size: 17px !important; padding: 5px;}
.posFix{ width: 240px !important;}
.margin-t20 {margin-top: 20px;}
.down-report {font-size: 14px !important;padding: 10px 13px !important;}
.ml-108 {margin-left: -108px !important;}
.small-fs13 {font-size: 13px !important;}

.data_entry .sysFeedMethod {margin: -42px 0px 0px !important;}
.data_entry .sysFeedMethod span{font-size: 17px !important;}
.frequencyChannelsMB0{margin-bottom: 0px;}
.inline_area.uc.fr {width: 100px;}
}

@media only screen and (max-width : 991px) {
.alreadyMEm {margin-top: 16px;}
.nav {float: right;margin: 13px 10px 0px 0px;height: 48px;}
.videoFrame{width:100%;}
.col-md-6.padd_rgt0{ padding-right:12px;}
.inline_area .area1{width:116px; }
.area1{padding:0 8px;width:116px;}
.data_entry .building_hd{ top:-12px;}
.btn_center .btn_cancel,.btn_center .btn_back,.btn_center .btn_start{ width:84px;}
.building_bx label{ width:auto;float:none;}
.input_box{ width:auto;float:none;}
.input_box.inpbox{ width:auto;float:none;}
.building_bx label{ margin-bottom:0;padding-bottom:0;}
.stp_line span{ margin-right:22px;}
.buildingQuoteB .building_hd {margin-left: -168px;}
.buildingQuoteB .b_data {padding-top: 50px;}
.buildingStep2 .padd_lft0, .buildingStep2 .padd_rgt0{ padding:0px !important;}
.building_b .building_bx > label {width: 100%;}
.building_b .input_box {width: 100%;}
.myplan{ padding:23.5px 8px;}
.addressCon li{ margin:40px 15px 0; }
.stepOuterNext{ font-size: 15px;}
.countdown.styled div{ font-size: 17px !important; padding: 5px;}
.posFix{ width: 190px !important; position: fixed; font-size: 16px; line-height: 22px; right: 10px;}
.logo { margin-top: 5px;}
.float-none {float: none !important;}
.margin-t20 {margin-top: 20px;}
.down-report {font-size: 14px !important;padding: 10px 13px !important;}
#signup_user input[type="text"], #signup_user input[type="password"], #signup_user input[type="email"] {font-size: 13px !important;}
#update_user_password input[type="password"] {font-size: 10px !important;}
.hide-small {display: none;}
.pl20-small {padding-left: 20px !important;}

.buildingQuoteB .building_hd {margin: -64px 0px 0px !important;}
.building_hd  span{font-size: 17px !important;}
#signin_user .col-sm-12, #signin_user .col-sm-6{padding: 0px; }
.loginFormOuter {padding: 20px 7px 15px;}
}

