/* CSS Document */
@font-face {
    font-family: 'basic_sans_light_sfregular';
    src: url('/assets/fonts/basic_sans_light_sf.eot');
    src: url('/assets/fonts/basic_sans_light_sf.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/basic_sans_light_sf.woff2') format('woff2'),
         url('/assets/fonts/basic_sans_light_sf.woff') format('woff'),
         url('/assets/fonts/basic_sans_light_sf.ttf') format('truetype'),
         url('/assets/fonts/basic_sans_light_sf.svg#basic_sans_light_sfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {margin:0; padding:0; outline:0;  }
div, a, span, input, select, textarea, li, img, i , ul, li{behavior:url(/assets/PIE.htc);  font-family: 'Open Sans', sans-serif;}
body {font-size:14px; line-height:normal;   background-color:#fff; font-family: 'Open Sans', sans-serif; min-width:768px; }
a, input , testarea{outline:none;  text-decoration:none; text-decoration:none;  -ms-transition: all  300ms ease-in-out; -webkit-transition: all  300ms ease-in-out;  -moz-transition: all 300ms  ease-in-out;  -o-transition: all 300ms  ease-in-out;  transition: all 300ms  ease-in-out;  text-decoration:none; color:#333333; }
a:hover, .activeLink{  text-decoration:none; color:#000;} 
a:active, a:focus{outline:none; border:0px; text-decoration:none;}
ul{list-style:none;}
input, textarea, select {outline:none;}
form {margin:0 }
.fl {float:left;}
.fr {float:right;}
img{border:none; max-width:100%; outline:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
ul {list-style:none;}
.clearfix{clear:both;}

/*-------------------------------Text Alignment ------------------------------------- */ 
.tal{text-align:left;}
.tar{text-align:right;}
.taj{text-align:justify;}
.tac{text-align:center;}
.vAlign {vertical-align:middle;}

/*-------------------------------All Font Size Start------------------------------------- */ 
.font12{font-size:12px !important;}
.font14{font-size:14px !important;}
.font15{font-size:15px !important;}
.font16{font-size:16px !important;}
.font18{font-size:18px !important;}
.font20{font-size:20px !important;}
.font22{font-size:22px !important;}
.font24{font-size:24px !important;}
.font26{font-size:26px !important;}
.font28{font-size:28px !important;}
.font30{font-size:30px !important;}
.font32{font-size:32px !important;}
.font34{font-size:34px !important;}
.fl{float:left;}
.fr{float:right;}
.container{ min-width:768px !important;}
header{background-color:#e8e8e8; border-bottom: solid 1px #d5d5d5;}
.logo{line-height:0px; display: block;padding: 6px 0;}
.alreadyMEm{font-family: 'Roboto', sans-serif; font-size:20px;  color:#191919; font-weight:600; margin:12px 0;}
.signIn{ text-transform:uppercase;  font-weight:300; background-color:#00bfbf; color:#FFFFFF; font-size:14px; padding:6px 30px; border-radius:20px; vertical-align:middle; margin:0px  0 0   10px ; display:inline-block;}
.signIn:hover{background-color:#009999; color:#FFFFFF;}
.sliderOuter{background-image:url(/assets/bkg.jpg); background-position:center center; background-repeat:no-repeat; background-size:100% 100%; min-height: 700px; }
.formOuter .inputText{border:solid 1px #b5b5b5; border-radius:50px; margin:10px 0; height:40px;}
.prz{padding-right:8px;}
.plz{padding-left:8px;}
.formOuter{background-color:#eaebeb; padding:20px  20px 15px 20px;  margin:20px 0; border-radius:20px; border:solid  8px #fff; box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);}
.blackHD{text-align:center; font-family: 'Roboto', sans-serif;  font-weight:400; font-size:22px; color:#151515; margin:5px 0 10px 0;}
.formOuter label{font-weight:600; font-size:12px; margin:8px 0;}
.formOuter label [type="checkbox"]{ margin-top:-1px; vertical-align:middle; margin-left:2px;}
.formOuter a{color:#fe7b34;}
.formOuter a:hover{text-decoration:underline;}
.inputSub{background-color:#09c1c1; color:#FFFFFF; text-transform:uppercase; font-size:18px; border:0px;}
.inputSub:hover{background-color:#009999; }
footer{padding:15px 0; border-top:solid 1px #f1f1f1; width:100%;background-color: #fff;}
footer a{display:inline-block; font-size:12px; text-transform:uppercase; font-weight:600; position:relative; color:#5d5d5d;}
footer a:after{display:inline-block; width:20px; height:20px; content:"/"; text-align:center; margin-left:5px; }
footer span a:last-child:after{content:""; }
footer a:hover{color:#000;}
.mainHD{   font-family: 'basic_sans_light_sfregular';  font-size:60px; line-height:40px; }
.sliderInner{margin-top:200px; color:#6e6e6e;}
.subHD{font-size:26px;    font-family: 'basic_sans_light_sfregular'; line-height:24px; }
.carousel-control {width:20px;height:20px; top:auto;  bottom:-25px;  font-size: 14px; background-image:none !important; background-color:#969695; opacity: 1; border-radius:3px;}
.carousel-control span{ top:2px; }
.carousel-control:hover{background-color:#fcbd37;}
.carousel-control.right {left: 25px;}
.italic{ margin:10px 0; color:#626262; font-style:italic; font-size:20px;}

/* Login*/
.login .modal-content{max-width:430px; margin:50px auto; }  
/* .login .modal-dialog {width: 100%; margin:0px;} */
.login .modal-body {padding: 0px;}

.login .formOuter{margin:0px;}
.login .modal-content {background-color: transparent; border-radius:50px;}
.login  .modal {bottom:auto;}
.login .blackHD{text-transform:uppercase; font-size: 20px;}
.login .row{margin:0px 10px;}
.login .row label{margin: 19px 0px 0px 9px;}
.login .row .inputSub{margin-right:5px;}
.login .prz {padding-right: 15px;}
.logout{ background-color:#7f7f7f; color:#FFFFFF;}


.nav{float:right; margin:8px 10px 0px 0; }
.nav ul{ margin: 0;}
.nav li {display:inline-block; }
.nav a{display:inline-block; width:40px; margin-right:15px; height:40px; background-image:url(/assets/sprite.png);  -ms-transition: all  00ms ease-in-out; -webkit-transition: all  00ms ease-in-out;  -moz-transition: all 00ms  ease-in-out;  -o-transition: all 00ms  ease-in-out;  transition: all 00ms  ease-in-out; }
.nav a:after{display:block; height:40px; border-right: solid 1px #bfbfbf; margin-right:-15px ; content:"";}
.logoutOuter{float:right; }
.nav li.i1 a{background-position:0px -3px;}
.nav li.i1 a:hover, .nav li.i1.activeIcon a{background-position:0px -57px !important;}
.nav li.i2 a{background-position:-55px -3px;}
.nav li.i2 a:hover, .nav li.i2.activeIcon a{background-position:-55px -57px !important;}
.nav li.i3 a{background-position:-115px -3px;}
.nav li.i3 a:hover, .nav li.i3.activeIcon a{background-position:-115px -57px !important;}
.nav li.i4 a{background-position:-171px -3px;}
.nav li.i4 a:hover, .nav li.i4.activeIcon a{background-position:-171px -57px !important;}
.grayOuter{background-color:#f1f1f1; padding:40px 0; line-height:28px;}
.grayMainGD{color:#4f4f4f; font-size:20px; text-align:center;line-height:28px; margin-bottom:20px; } 
.stepInnerContnt{text-align:center; max-width:960px; margin:auto;}
.middleImg{margin:0 30px ;}
.stepOuter span{ display:inline-block; border-bottom: solid 1px #e3e3e3; max-height:28px; margin-bottom:30px;}
.stepOuterNext{ background-color:#FFFFFF; padding:40px 0; text-align:center; color:#4f4f4f; font-size:20px;} 
.mt20{margin-top:20px;}
.copy{float:right; font-size:13px; color:#5d5d5d; margin-top: 5px;}
.orangeBtn{font-family: 'Roboto', sans-serif; background-color:#ff8200; border:0px; color:#fff; text-transform:uppercase; font-size:16px; padding:4px 40px; border-radius:50px;}
.orangeBtn:hover{color:#FFFFFF; background-color:#D16A00;}
.grayBtn{ background-color:#808080; font-family: 'Roboto', sans-serif; border:0px; color:#fff; text-transform:uppercase; font-size:16px; padding:4px 40px; border-radius:50px;}
.grayBtn:hover{color:#FFFFFF; background-color:#5b5b5b;}
.stepOuterLast{background-color:#f1f1f1;}
.whiteBkg{background-color:#fff;}
.boldHD{ color:#6e6e6e;  font-size:38px; font-weight:600;  font-family: 'Roboto', sans-serif;  text-transform:uppercase;}
.Disclaimer{ padding:40px 0; text-align:center; line-height:28px; font-size:14px; color:#4f4f4f}
.max960width{max-width:960px; margin:auto;}
.Disclaimer p{margin-top:20px;}
.Disclaimer label{font-weight:600 !important; }
.countdown.styled div {display: inline-block;margin-left: 10px; font-size: 40px; vertical-align:middle; font-weight: 100;line-height: 1;text-align: right;color:#4f4f4f; padding:10px;background-color:#e3e3e3;}
.countdown.styled .year{display:none;}
.countdown.styled { font-size: 40px; color:#4f4f4f;}

.videoFrame{border:0px; width:744px; margin:auto; height:424px; margin-top:20px;}
.box{text-align:center; line-height:22px; color:#696969; font-weight:600;  position:relative;}
.box:after{background-image:url(/assets/rightArrow.png); background-repeat:no-repeat; content:""; width:40px; height:40px; position:absolute; right:-45px; top:20%; }
.imageIcon{ width:113px; height:113px; display:table-cell; vertical-align:middle; text-align:center; background-color:#e9e9e9; border-radius:50%; position:relative; } 
.numbers{position:absolute; left:-15px; top:15px;}
.bold{font-weight:800; }
.box .bold{font-size:15px; margin-top:20px;}
.mt40{margin-top:40px;}
.box3:after{display:none;}


.planTable{width:100%; border: solid 1px #ccc; margin-top:40px;}   
.planTable th{width:25%; font-family: 'Roboto', sans-serif; font-size:30px; text-align:center; padding:45px 0; border: solid 1px #d6d6d6; background-color:#ffffff;  font-weight:800;}  
.greenColor{color:#74b230;}
.blueColor{color:#4bacc6;}
.orangeColor{color:#f79646;}

.priceRow{color:#434e59;}
.priceRow td{ font-size:20px; font-weight:600; text-align:center; background-color:#fff; border: solid 1px #d6d6d6; padding:35px 0 30px 0; }
.priceRow .bold{font-size:14px; line-height:20px; padding:0 20px ;}
.priceRow .price{font-size:60px; vertical-align:middle; font-weight:800;}
.priceRow .month{font-size:14px; vertical-align:baseline; font-weight:400;}

.monthPriceRow{color:#434e59;}
.monthPriceRow td{ font-size:15px; font-weight:600; text-align:center; background-color:#fff; border: solid 1px #d6d6d6; padding:10px 0; }
.monthPriceRow .bold{font-size:13px; line-height:20px; padding:0 20px ;}
.monthPriceRow .price{font-size:40px; vertical-align:middle; font-weight:800;}
.monthPriceRow .month{font-size:14px; vertical-align:baseline; font-weight:400;}

.colorBGRow td{font-size:14px; vertical-align:top; color:#fff; font-weight:600;  line-height:20px; text-align:center; border: solid 1px #f1f1f1; padding:30px 0; }
.bDBkg{ background-color:#376091;}
.greenBkg{ background-color:#74b230;}
.blueBkg{ background-color:#4bacc6;}
.orangeBkg{ background-color:#f79646;}
.planDetails{ width:100%; border: solid 1px #d6d6d6; background-color:#FFFFFF;} 
.planDetails td{ padding:10px;  width:25%; border: solid 1px #d6d6d6; line-height:18px;  color:#9f9f9f; font-size:13px; font-weight:600;}
.planDetails tr:nth-child(even){background-color:#f1f1f1;}
.planDetails tr td:first-child{text-align:left;}
.signUp{ background-color:#09c1c1;  position:relative; color:#FFFFFF;  text-transform:uppercase; padding:8px; width:140px; display:inline-block; border-radius:20px; font-size:16px; font-weight:600; text-align:left; text-indent:20px; }
.signUp img{float:right; position:absolute; right:5px; top:5px;}
.signUp:hover{background-color:#089494; color:#FFFFFF;}
.signUpRow td{padding:25px 0}
.signUpRow td.subs-type {font-size: 15px;line-height: 20px;text-align: center !important;color: #434e59;font-weight: 700 !important;}


/*dashboard*/
.dashboard{max-width:900px;margin:auto; border-bottom:1px #e7e7e7 solid; padding-bottom:40px;}
.dash_para{ padding-top:14px;line-height:23px;color:#4f4f4f;font-family: 'Open Sans', sans-serif;font-weight:600;padding-bottom:20px;}
.dash_para span{ display:block;color:#000;}
.dash_start{ text-align:center;}
.dash_start p{ font-size:17px;color:#5f5f5f;text-transform:uppercase;line-height: 23px;padding-bottom:12px;}
.new_start p a{ display:inline-block;color:#ff8200;}
.new_start p a:hover{ color:#c86703;}
.new_start{ border-right:1px #e7e7e7 solid;}
.btn_start{ padding:2px 0;display:block;width:120px;margin:auto;background:#ff8200;color:#fff;border-radius: 50px;-ms-border-radius: 50px;-moz-border-radius: 50px;-webkit-border-radius: 50px;-o-border-radius: 50px;text-transform:uppercase;font-size:14px;}
.btn_start:hover{ background:#c86703;color:#fff;}
.fast_start p a{ display:inline-block;color:#09c1c1;}
.fast_start p a:hover{ color:#03a1a1;}
.btn_fast_start{ background:#09c1c1;padding:2px 0;display:block;width:120px;margin:auto;color:#fff;border-radius: 50px;-ms-border-radius: 50px;-moz-border-radius: 50px;-webkit-border-radius: 50px;-o-border-radius: 50px;text-transform:uppercase;font-size:14px;}
.btn_fast_start:hover{ background:#049a9a; color:#fff;}
.project_box{width:100%; margin-top:20px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+50,dddddd+100 */
background: #e3e3e3; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #e3e3e3 0%, #ffffff 50%, #e3e3e3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e3e3e3 0%,#ffffff 50%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=1 ); /* IE6-8 */


border: 1px solid #E4E4E4; border-radius:5px;min-height:140px;}
.dash_bg1{ background:url(/assets/dash.png) no-repeat right bottom;padding:37px 20px;}
.project_box a{ display:block;color:#5f5f5f;font-size:15px;text-transform:uppercase;}
.project_box a span{background:url(/assets/dashboard.png) no-repeat;height:23px;width:22px; margin-right:1px;display:inline-block;vertical-align:top;}
.project_box a.projct{padding-bottom:9px;}
.project_box a:hover{ color:#ff8200;}
.project_box a.projct:hover span{ background-position:0 -30px;}
.project_box a.p_pending:hover span{ background-position:-25px -30px;}
.project_box a.p_pending span{ background-position:-25px 0;}
.project_box a.q_start span{ background-position:-74px 0;}
.project_box a.h_support span{ background-position:-97px 0;}
.project_box a.q_start:hover span{ background-position:-74px -30px;}
.project_box a.q_start{padding-bottom:9px;}
.project_box a.h_support:hover span{ background-position:-97px -30px;}
.dash_bg3{background:url(/assets/maintain.png) no-repeat right bottom;padding:37px 20px;}
.center_text{ text-align:center;padding:15px 24px;}
.project_box a.icn_account span{ background:url(/assets/dashboard.png) no-repeat;height:23px;width:23px;display:block; margin:0 auto 2px auto;background-position:-47px 0;}
.center_text a{ padding-bottom:0;line-height:22px;}
.center_text p{ line-height:22px;text-transform:uppercase;margin-bottom:0;}
.project_box a.icn_account:hover span{ background-position:-47px -30px;}
.icn_report{background:url(/assets/dashboard.png) no-repeat;height:23px;width:23px;display:block; margin:0 auto 2px auto;background-position:-117px 0;}
.dash_bg2{background:url(/assets/bg2.png) no-repeat right bottom;padding:24px 20px;}
.dash_bg4{background:url(/assets/bg4.png) no-repeat right bottom;padding:24px 20px; min-height: 138px;}
.padd_rgt0{ padding-right:0;}
.padding_50{ padding-bottom:84px;}

/*building*/
.building_hd{ color: #6e6e6e;font-family: "Roboto",sans-serif;font-size:25px; font-weight: 400;text-transform: uppercase;text-align:center;background:#f1f1f1;margin-top:0;position:absolute;z-index:0;top:-14px;padding:0 12px;display:table;left:50%;margin-left:-84px;}
.b_data{ border:1px #cccccc solid;border-radius:4px;padding:50px 20px 10px 20px;position:relative;}
.building_bx{ margin-bottom:15px;}
.building_bx > label{ float:left;width:28%;color:#5f5f5f;font-size:12px;text-transform:uppercase;vertical-align:middle;padding:4px 0;}
.input_box{ width:72%;float:left;position:relative;padding-right:40px;position:relative;}
.question{ position:absolute;font-weight:bold;right:0px;text-align:center;top:3px;color:#5f5f5f;font-size:10px;}
.question a{ display:inline-block;background:#a8a7a7;border-radius:50%;height:26px;width:26px;font-size: 21px;color:#fff;}
.inputText{border:solid 1px #b5b5b5; border-radius:50px; height:40px;width:100%;}
.area_entry{ position:relative; border:1px #cccccc solid;border-radius:4px;margin-top:30px;padding:30px 14px 20px 14px;}
.area1{border:1px #cccccc solid;border-radius:12px;width:114px;margin:auto;text-align:center;text-transform:uppercase;background:url(/assets/a1.png) no-repeat center center #fff;font-size:15px;-ms-transition: all  300ms ease-in-out; -webkit-transition: all  300ms ease-in-out;  -moz-transition: all 300ms  ease-in-out;  -o-transition: all 300ms  ease-in-out;  transition: all 300ms  ease-in-out; height:98px;display:table;}
.area1 a{ display:block;color:#949494;font-weight:700;display:table-cell;vertical-align:middle;line-height:18px;}
.area1:hover a{ color:#09c1c1;}
.area1:hover{ box-shadow:0 0 7px 1px rgba(0,0,0,0.17);}
.fl{ float:left;}
.fr{ float:right;}
.data_entry{ margin-top:40px;}
.data_entry .building_hd{ margin-left:-85px;}
.data_entry.feed_method .building_hd{ margin-left:-125px;}
.inline_area .area1{ width:109px;}
.btn_center{ text-align:center;margin-top:20px;}
.btn_center a{ display:inline-block;}
.btn_cancel{padding:2px 0;display:block;width:120px;margin-right:15px;background:#afafaf;color:#fff;border-radius: 50px;-ms-border-radius: 50px;-moz-border-radius: 50px;-webkit-border-radius: 50px;-o-border-radius: 50px;text-transform:uppercase;font-size:14px;}
.btn_cancel:hover{ background:#9d9d9d;color:#fff;}
.btn_back{padding:2px 0;display:block;width:120px;margin-right:15px;background:#808080;color:#fff;border-radius: 50px;-ms-border-radius: 50px;-moz-border-radius: 50px;-webkit-border-radius: 50px;-o-border-radius: 50px;text-transform:uppercase;font-size:14px;}
.btn_back:hover{ background:#6e6e6e;color:#fff;}
.step1{ text-align:center;display:block;margin:0 auto 20px auto;}
.b_stepbox{margin-bottom:20px;height:16px;margin-top:36px; border-bottom:1px #dedede solid;}
.stp_line{display:inline-block;}
.stp_line span{background:#dedede;height:9px;width:9px;display:inline-block;border-radius:50%;margin-right:48px;position:relative;}
.stp_line span.active{ background:#2db090;}
.stp_line span.done{ background:#2db090;}
.circle{ position:absolute;height:28px;width:28px;border-radius:50%;top:-40px;left:50%;margin-left:-15px;}
.circle{background:url(/assets/line.jpg);}
.circle:after{ content:"";border-left:1px #dedede solid;position:absolute;top:100%;height:12px;left:50%;margin-left:-.5px;}
.stp_line.last{ float:right;}
.stp_line.last span{ margin-right:0;}
.lgreen_circle{ background:url(/assets/l3.jpg) !important;}
.orange_circle{ background:url(/assets/l2.jpg) !important;}
.building_b .building_hd{ margin-left:-100px;}
.migahrtz{ padding-right:60px;}
.m_top{ margin-top:40px;}
.building1{ margin-top:18px;}
.radio label{ width:auto;padding:0;float:none;color:#5f5f5f;text-transform:uppercase;}
.radio input[type="radio"]{ top:4px;}
.building_b .building_bx > label{ width:37%;}
.building_b .input_box{ width:63%;}

.selctFormBox {border:1px solid #bababa;  height:40px; position:relative; border-radius:20px; overflow:hidden; background:url(/assets/down.png) no-repeat 97% center ; padding-right:30px; background-color:#fff; background-size:16px; }
.selctFormBox .selectInput {font-size: 14px; font-weight:600; padding: 0px 10px;width: 100%; background: #fff; border: 0; color:#5f5f5f; line-height:39px}
.selctFormBox select {left: 0; opacity: 0;padding: 8px 0;position: absolute;top: 0; width: 100%;}
.selctFormBox .select {font-size:12px; color:#666;}

.selctFormBoxLArg{background-position:98.5% center ; }

/* ToolTip Css */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {position: relative;z-index: 2;cursor: pointer;}
[data-tooltip]:before, [data-tooltip]:after {visibility: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; pointer-events: none; -ms-transition: all  300ms ease-in-out; -webkit-transition: all  300ms ease-in-out;  -moz-transition: all 300ms  ease-in-out;  -o-transition: all 300ms  ease-in-out;  transition: all 300ms  ease-in-out}
[data-tooltip]:before { position: absolute; bottom: 140%; left: 50%; margin-bottom: 5px; margin-left: -80px; padding: 5px; width: 160px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: rgba(0,0,0,0.8);  color: #fff; content: attr(data-tooltip); text-align: center; font-size: 12px; font-weight:400; line-height:16px;}

[data-tooltip]:after {position: absolute; bottom: 135%;left: 50%;margin-left: -5px;width: 0; border-top: 6px solid rgba(0,0,0,0.8);
border-right: 5px solid transparent; border-left: 5px solid transparent; content: " "; font-size: 0;line-height: 0;}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {visibility: visible; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;}
.report_cust[data-tooltip]:before { bottom: 137% !important;margin-bottom: 13px !important;}
.report_cust[data-tooltip]:after { margin-bottom: 8px !important;}
.building_b .widthFull{width:100%; padding-right: 0px;} 
.building_b .question a {vertical-align:middle; line-height: 24px;}
.building_b .question  {line-height: 35px;  top:0px;}
.fastStart{margin-top:20px;}
.dataEntry .formOuter{margin:0px;}
.dataEntry .modal-body{padding:0px; background-color:transparent;}
.dataEntry .modal-content {box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); background-color:transparent; border:0px; }
.upperCase{text-transform:uppercase;}
.dataEntry .modal-dialog {width: 700px;}

.prFour{padding-right:4px;}
.plFour{padding-left:4px;}
.mt10{margin-top:10px !important;}
.mtNone{margin-top:0px !important;}
.enterData a{color:#FFFFFF; padding:7px 0;}
.enterData a:hover{text-decoration:none;}
.enterData .inputSub{display:inline-block;color: #FFF; padding: 3px 0px; width: 120px; font-size:14px; border-radius: 50px;}

.buildingQuote .input_box {width: 100%;padding-right: 30px;}
.radioNorm input{position:static !important; margin:-3px 0px  0 0 !important; vertical-align:middle;}

.buildingStep2 h3{font-size: 21px; padding:5px 5px;}
.buildingStep2 .data_entry{margin-top: 20px;}
.padd_lft0{padding-left:0px;}

.radioLbl label{font-weight:400; display:block;  margin:0px;}
.radioLbl label input{vertical-align:middle; margin-top:-3px;}

.buildingQuoteB .building_hd { margin-left: -214px;}
.buildingQuoteB .expected_rssi .building_hd { margin-left: -156px;}
.buildingQuoteB .b_data{ padding-top:30px; color:#5f5f5f;}
.buildingQuoteB .text-center{ line-height:18px; margin-bottom:20px; font-weight:600; text-transform:uppercase;}
.buildingQuoteB .input_box{ margin:auto; float:none;}
.buildingQuoteB .radioLbl{text-transform:uppercase; line-height:20px; margin-top:20px;}
.helpBtn{ float:right; padding:1px 20px; font-size:12px; height:20px; line-height:18px; width:auto;  margin:10px -5px 0 0 }
.buildingStep2 .col-md-6 .data_entry{padding-bottom:40px;}


.projectTableCon{ max-width:770px; margin:30px auto; background:#ededed; border-radius:10px; overflow:hidden; border:1px solid #e2e2e2;}
.projectTableCon .table tbody  tr th{ border:1px solid #e2e2e2; border-top:0 !important; color:#5f5f5f; font-size:13px;  text-transform:uppercase; text-align:left; padding:18px; background:#eaeaea;}
.projectTableCon .table{ margin-bottom:0;}
.projectTableCon .table tbody  tr  td{ border-color:#e2e2e2; padding:18px; text-transform:uppercase; font-size:13px; text-align:left; font-weight:600;}
.projectTableCon th:last-child{ border-right:0 !important;}
.projectTableCon th:first-child{ border-left:0 !important;}
.glyphicon.glyphicon-eye-open {  color: #8b8b8b;  display: inline-block;font-size: 14px;  margin-right: 8px;  vertical-align: middle;}
.glyphicon.glyphicon-trash{  color: #f34343;  display: inline-block;font-size: 12px;  margin-right:0px;  vertical-align: middle;}
.projectTableCon .table tbody tr th.action{ text-align:center;}
.projectTableCon .table tbody tr td:last-child{ text-align:center;}
sup {  text-transform: lowercase;}
.projectTableCon .table tbody tr td:last-child a:hover{ color:#000;} 
.pagination{ margin:0 auto;}
.pagination > li > a, .pagination > li > span{ border:1px solid #e7e7e7; color:#696969; font-weight:600;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{ background:#ff8200; color:#fff;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{ background:#ff8200; color:#fff; border-color:#e7e7e7;}
.pagination > li:last-child > a, .pagination > li:last-child > span{ border-radius:0;}
.pagination > li:first-child > a, .pagination > li:first-child > span{border-radius:0;}

.settingCon{ max-width:900px; margin:auto;}
.personalInfo{ width:100%; border:1px solid #ccc; border-radius:5px; position:relative; padding:23px 0; margin-top:40px;}
.personalInfo h1 {background: #f1f1f1 none repeat scroll 0 0;color: #6e6e6e;display: inline-block;font-family: roboto;font-size: 32px;font-weight: 600;left: 0;margin: auto;padding: 0 10px;position: absolute;right: 0;text-transform: uppercase;top: -20px;width: 415px;}
.personalInfo label.label {color: #5f5f5f;font-size: 12px;font-weight: 600;margin-bottom: 0;text-align: left;text-transform: uppercase;display: block;margin-left: 15px;}
.personalInfo .inputText {color: #8e8e8e;  font-size: 12px;  font-weight: 600;  padding: 0 15px;}
.personalInfo li {  display: inline-block;  margin: 6px 1%;  width: 30%; vertical-align: top;}
.personalInfo .inputText:focus {  border-color: #66afe9;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);  outline: 0 none;}
.btn_center .piBtns { display: inline-block;  border: 0;}

.changePassword{ width:62%; border:1px solid #ccc; border-radius:5px; position:relative; padding:22px 0; margin-top:60px; float:left;}
.changePassword h1 {background: #f1f1f1 none repeat scroll 0 0;color: #6e6e6e;display: inline-block;font-family: roboto;font-size: 32px;font-weight: 600;left: 0;margin: auto;padding: 0 10px;position: absolute;right: 0;text-transform: uppercase;top: -20px;width: 336px;}
.changePassword .inputText {color: #5f5f5f;  font-size: 12px;  font-weight: 600;  padding: 0 15px; text-transform:uppercase; }
.changePassword .inputText:focus {  border-color: #66afe9;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);  outline: 0 none;}
.changePassword li {  display: inline-block;  margin: 20px 1% 0;  width: 46%; vertical-align: top;}
.changePassword li.fullwidth {  width: 95%;}

.myplan{ width:36%; border:1px solid #ccc; border-radius:5px; position:relative; padding:23.5px; margin-top:60px; float:right;}
.myplan h1 {background: #f1f1f1 none repeat scroll 0 0;color: #6e6e6e;display: inline-block;font-family: roboto;font-size: 32px;font-weight: 600;left: 0;margin: auto;padding: 0 10px;position: absolute;right: 0;text-transform: uppercase;top: -20px;width: 170px;}
.myplan > p {  margin-bottom: 0;  line-height: 19px;  font-size: 13px;  text-transform: uppercase;}
.myplan strong {  color: #19c5c5;  display: block;  text-transform: uppercase;}
.myplan .btn_center {  margin-top: 10px;}

.innermainCon2{ background:#f1f1f1; padding:50px 0;}
.banrHd{margin:0px auto 0 auto; max-width:900px; text-align:center;}
.banrHd h1{   font-family: roboto; font-size: 38px; padding:0; text-align: center; margin:0; color:#6e6e6e; text-transform:uppercase; font-weight:600;}
.privacyCon{ margin:40px auto; padding:0 20px; text-align:center; max-width:940px; }
.privacyCon h1{color:#333; font-size:28px; }
.privacyCon h2{color:#333; font-size:22px;  text-transform:capitalize; margin-top:40px; margin-bottom:10px;  font-family: roboto; text-transform:uppercase;}
.privacyCon strong{ color:#101010; font-size:14px; display:block; padding-bottom:7px;}
.privacyCon p{font-size: 14px;  color:#333;  margin-bottom:10px; line-height:23px;}
.innermainCon2 strong {  color: #4f4f4f;  display: block;font-size: 18px;  font-weight: normal;  margin: 6px auto;}

/*----------faq page css--------*/
.heading{ color:#363636; font-size:24px; text-transform:capitalize; border-bottom:1px solid #CCCCCC; padding-bottom:5px; font-weight:600; }
.faqCon{ padding:40px 0; background:#f2f2f2;}
.faqCon ul{ margin-top:20px;}
.faqCon strong{ color:#222; font-size:16px; display:block; padding-bottom:13px; cursor:pointer; background:url("/assets/plus.png") no-repeat scroll left 4px rgba(0, 0, 0, 0); padding-left:25px; font-weight:normal;}
.faqCon p{ color:#444; font-size:14px; margin-left:20px; display:none;  line-height:22px;}
.faqCon2{ background:#fff ;	}
.opens{ background:url("/assets/minus.png") no-repeat scroll left 4px rgba(0, 0, 0, 0) !important; }
.signout a{ padding:7px 15px;}
.innermainCon2.innermainCon3 {padding-bottom: 0;}
/*----------faq page css--------*/

.aboutCon{ text-align:center;}
.aboutUsCon{ background:#f6f6f6; padding:40px 0;}
.innerContainer{ max-width:960px; padding:0 10px; margin:auto; position:relative;}
.aboutUsCon h1{ font-family: roboto; font-size: 38px; padding:0; text-align: center; padding-bottom:15px; margin:0; color:#6e6e6e; text-transform:uppercase; font-weight:600;}
.aboutUsCon p{font-size: 14px;  color:#333;  margin-bottom:10px; line-height:25px; position:relative;}

.contactMap{ height:350px; overflow:hidden; background:#000;}
.addressCon{ background:#f5f5f5; clear:both; padding:50px 0; text-align:center;}
.addressCon h1{font-family: roboto; font-size:28px; padding:0; text-align: center; padding-bottom:10px; margin:0; color:#6e6e6e; text-transform:uppercase; font-weight:600;}
.addressCon > p { color: #5f5f5f; font-size: 15px; font-weight: 600; line-height: 23px; margin: auto;  max-width: 940px;  text-align: center;}
.addressCon li{ vertical-align:top; text-align:center; width:200px; margin:0 30px; display:inline-block; margin-top:40px; position:relative; padding-top:55px;}
.addressCon li img{ position:absolute; left:0; right:0; top:0; margin:auto;}
.addressCon li p {  font-weight: 600;  margin: 0;}
.formbox {  margin:30px auto;  max-width: 750px;}
.formbox .formOuter{box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1); border-width:0; border-radius:0px; background:#fff;}
.formbox .formOuter .blackHD{font-family: roboto; font-size:28px; padding:0; text-align: center; padding-bottom:15px; margin:0; color:#6e6e6e; text-transform:uppercase; font-weight:600;}
.formbox .formOuter .inputSub{ width:150px; margin:10px auto 0;}
.formOuter textarea.inputText {  border-radius: 10px;  min-height: 150px;  resize: none;}

.rportsTable{ max-width:100%; margin:0px auto; background:#ededed; border-radius:10px; overflow:hidden; border:1px solid #e2e2e2;}
.rportsTable .table tbody  tr th{ border:1px solid #e2e2e2; border-top:0 !important; vertical-align:middle; color:#5f5f5f; font-size:11px;  text-transform:uppercase; text-align:center; padding:0 0px; background:#eaeaea; height:50px;}

.rportsTable .table{ margin-bottom:0;}
.rportsTable .table tbody  tr  td{ border-color:#e2e2e2; padding:0 0px; vertical-align:middle; text-transform:uppercase; font-size:11px; text-align:center; font-weight:600; height:64px;}
.rportsTable th:last-child{ border-right:0 !important;}
.rportsTable th:first-child{ border-left:0 !important;}

.rportsTable .reportInput {color: #8e8e8e;  font-size: 12px;  font-weight: 600;  padding: 0 15px; text-align:center; border:1px solid #b5b5b5; border-radius:15px; width:86%; margin:auto; height:22px; color:#000;}
.rportsTable .reportInput:focus {  border-color: #66afe9;  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);  outline: 0 none;}

.selctFormBox .selectInput {border-radius: 30px;}
.inline_area + .inline_area{float:right;}
.box > span{display:inline-block;}
.personalInfo .inputText {line-height: 20px;}
.selctFormBox select {line-height: 35px; min-height: 38px}

.creditsBox{ background:#f1f1f1;}
.creaditsItem {  background: #979797 none repeat scroll 0 0;  border-radius: 0 0 10px 10px;  color: #fff;  font-family: roboto;  font-size: 20px;  font-weight: 500;  margin: auto;  max-width: 350px;  padding: 10px;  text-align: center;}
.buycreadits .boldHD{ line-height:32px;}
.buycreadits {  margin: 30px auto 0;  max-width: 960px;  text-align: center;}
.addCreadit {  max-width: 500px;  position: relative;  margin: auto;  padding-right: 100px;}
.addCreadit {  margin: auto;  max-width: 500px;  padding-right: 128px;  position: relative;}
.btn_start.addBtns {  padding: 10px 0;  position: absolute;  right: 0;  top: 0;}

.creaditBoxCon{ text-align:center;}
.creaditBox{ width:200px; height:100px; background-size:cover; display:inline-block; margin:0 6px; padding:8px;}
.creaditBox1{background:url(/assets/box1.png) no-repeat center center; }
.creaditBox2{background:url(/assets/box2.png) no-repeat center center; }
.creaditBox3{background:url(/assets/box3.png) no-repeat center center; }
.creaditBox4{background:url(/assets/box4.png) no-repeat center center; }
.creaditBoxCon {  border-bottom: 1px solid #e7e7e7;  padding-bottom: 44px;  max-width:1008px; margin:30px auto 0 auto;}
.creaditBox > span {  background: #6f6f6f none repeat scroll 0 0;  border: 1px solid #fff;  border-radius: 100%;  box-shadow: 0 0 0 1px #6f6f6f;  color: #fff;  display: block;  font-size: 10px;  height: 31px;  line-height: 28px;  margin: auto auto 10px;  text-align: center;  width: 31px;}
.creaditBox > strong {  text-transform: uppercase;  font-size: 15px;}
.creaditBox > p {  text-transform: uppercase;  color: #5f5f5f;}

.tunel_tabs{ max-width: 770px; clear: both;margin:auto;float: none;}
.tunel_tabs.nav li{ width: 50%;}
.tunel_tabs.nav a {background:#7f7f7f; border:none;display: inline-block;height: auto;margin-right: 0; transition: all 0.5s ease-in-out;width: 100%;  color: #fff;}
.tunel_tabs.nav-tabs > li{margin-bottom: 0px;}
.tunel_tabs.nav a::after{height: auto;}
.tunel_tabs.nav-tabs > li.active > a, .tunel_tabs.nav-tabs > li.active > a:focus, .tunel_tabs.nav-tabs > li.active > a:hover,.tunel_tabs.nav > li > a:focus, .tunel_tabs.nav > li > a:hover{ background: #009999;color: #fff; border:none;}
.tunel_tabs.nav li:nth-child(1) a{ border-radius: 20px 0px 0px 20px;}
.tunel_tabs.nav li:nth-child(2) a{ border-radius: 0px 20px 20px 0px;}
.tunel_tabs.nav li:nth-child(1){border-right: 1px #fff solid;}
.tunel_tabs.nav-tabs > li > a:hover{border:none;}
.nav.nav-tabs.tunel_tabs{border: none;}

.page404 .whiteBox{height:auto;}
.grayBack{  background:#f1f1f1;}

.formOuterTunnel .rightTooltip{display:block; margin:10px 0 0 0; font-size:14px; color:#333; font-weight:normal;}
.formOuterTunnel .rightTooltip *{vertical-align:middle; float:none;}
.formOuterTunnel .rightTooltip > .question {position:relative;  display:inline-block; height: 40px;  margin-left:10px;}
.formOuterTunnel .rightTooltip a.question:hover{text-decoration:none !important;}
.formOuterTunnel .inputText{margin-bottom:0px;}
.formOuterTunnel .selctFormBox{margin-top:10px;}

.building_hd {position:static; display:block; background:none !important;  margin:-65px 0px 0px 0px !important; padding:0px; float:left; width:100%; text-align:center;}
.building_hd span{display:inline-block;  background: #F1F1F1; padding:0 10px; font-size: 22px; color: #8BA66F !important; font-weight:400; }
.buildingStep2 h3 span{font-size: 21px; padding:2px 5px; }
.buildingStep2 h3 {padding:0px;}
.data_entry .building_hd {margin: -45px 0px 0px !important;}
.buildingQuoteB .building_hd {margin: -45px 0px 0px !important;}

_::-moz-svg-foreign-content, :root  .inputText {-ms-transition: all  00ms ease-in-out!Important; -webkit-transition: all  00ms ease-in-out!Important;  -moz-transition: all 00ms  ease-in-out!Important;  -o-transition: all 00ms  ease-in-out!Important;  transition: all 0ms  ease-in-out !Important; }

.padding40{padding:20px 0;}
.grayBox{min-height: 220px;vertical-align: top;display:inline-block; padding:10px; border: solid 1px #ddd; background-color:#e5e5e5;  border: solid 1px #cdd6c5; width:200px; border-radius:10px; margin:4px;}
.grayBox span{display:block; margin-bottom:10px;}
.grayBox a{margin-top:10px;}
.videoWelcome{border:0px; margin-top:20px;}

.inline_area.uc.fr {width: 127px;}
.inline_area.uc .area1 { border-radius: 5px; height: 45px; margin: 26px 0; width: 100%;}
.inline_area.uc .area1 a { font-size: 12px;}