<% static_page = StaticPage.last %>
<p>Hello <%= @resource.email %>!</p>
<% if static_page.present? && static_page.unlock_email.present? %>
  <%= static_page.unlock_email.html_safe %>
<% else %>
	<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
	<p>Click the link below to unlock your account:</p>
<% end %>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
