<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %></title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
      <script src="/assets/placeholder.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= @static_page.page_head.html_safe if @static_page.present? && @static_page.page_head.present? %>
  </head>
  <body>
    <%= render partial: 'shared/header', locals: { static_page: @static_page } %>
    <div id="container_content">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer', locals: { static_page: @static_page } %>
  </body>
</html>
